%table.highlight
  %thead
    %tr
      %th{"data-field" => "id"}
      %th{"data-field" => "name"} Name
      %th#claim-descr{"data-field" => "price"} Date Modified
      %th{"data-field" => "foop", :style => "z-index: 999999 !important;"} Actions
    %tbody
      / list file contents
      - @sharedFiles.each_with_index do |f, i|
        %tr
          %td{:style => "z-index: 99999999", "data-intro" => i==0 ? "Edit file names. Box File ID's remain unchanged so paths to the file will never break." : nil,  "data-position" => i==0 ? "left" : nil}
            = link_to view_doc_path(f.id, folder: @sharedFolder.id) do
              = image_tag(thumbnail_url(f.id), width: '40px')
          %td
            %div.name_elipses{:style => "inline"}
              = f.name
              = link_to '#', :onclick => "$('#name').attr('value','#{f.name.split('.').first}'); $('#fileExt').attr('value','#{f.name.split('.').last}'); $('#fileid').attr('value','#{f.id}');", "data-toggle" => "popover", "rel" => "popover", :style => "color: grey" do
                %span.glyphicon.glyphicon-pencil.tooltipped{"filename" => "#{f.name}", :style => "font-size: 80%", 'data-position'=>"top", 'data-delay'=>"50", 'data-tooltip'=>"Edit Name"}
          %td.hidden-xs.hidden-sm#claim-descr
            = DateTime.strptime(f.modified_at).strftime("%B %d, %Y %l:%M %p")
          / file action options
          %td{"data-intro" => i==0 ? "View, Unshare, Download, and Delete files from Box" : nil,  "data-position" => i==0 ? "left" : nil}
            %a.dropdown-button.white.btn{"data-activates" => "sharefileOptions", :href => "#", :style => "padding-left: 7px; padding-right: 7px"}
              %span.fa.fa-ellipsis-h{:style => "text-decoration: none; color: #263238; font-size: 150%; margin-top: 9px"}

            %ul#sharefileOptions.dropdown-content.dropdown-options
              %li
                %a.vault-dropdown-item{href: view_doc_path(f.id, folder: @sharedFolder.id)}
                  %span.glyphicon.glyphicon-eye-open{:style => "top: 3px;"}
                  %span{:style => "margin-left: 8px"} View
              %li
                %a.vault-dropdown-item{href: unshare_file_path(f.id, folder: @myFolder.id)}
                  %span.glyphicon.glyphicon-share{:style => "top: 3px;"}
                  %span{:style => "margin-left: 8px"} Unshare
              %li
                %a.vault-dropdown-item{href:  download_path(f.id, folder: @sharedFolder.id)}
                  %span.glyphicon.glyphicon-download{:style => "top: 3px;"}
                  %span{:style => "margin-left: 8px"} Download
              %li
                %a.vault-dropdown-item{href: delete_file_path(f.id, folder: @sharedFolder.id)}
                  %span.glyphicon.glyphicon-trash{:style => "top: 3px;"}
                  %span{:style => "margin-left: 8px"} Delete

            -# .btn-group
            -#   %a.btn.white.tooltipped{href: view_doc_path(f.id, folder: @sharedFolder.id), 'data-position'=>"top", 'data-delay'=>"50", 'data-tooltip'=>"View", :style => "padding-right: 7px; padding-left: 7px;"}
            -#     %span.glyphicon.glyphicon-eye-open{:style => "top: 3px; color: #263238"}
            -#   %a.btn.white.tooltipped{href: unshare_file_path(f.id, folder: @myFolder.id), 'data-position'=>"top", 'data-delay'=>"50", 'data-tooltip'=>"Unshare", :style => "padding-right: 7px; padding-left: 7px;"}
            -#     %span.glyphicon.glyphicon-share{:style => "top: 3px; color: #263238"}
            -#   %a.btn.white.tooltipped{href: download_path(f.id, folder: @sharedFolder.id), 'data-position'=>"top", 'data-delay'=>"50", 'data-tooltip'=>"Download", :style => "padding-right: 7px; padding-left: 7px;"}
            -#     %span.glyphicon.glyphicon-download{:style => "top: 3px; color: #263238"}
            -#   %a.btn.white.tooltipped{href: delete_file_path(f.id, folder: @sharedFolder.id), 'data-position'=>"top", 'data-delay'=>"50", 'data-tooltip'=>"Delete", :style => "padding-right: 7px; padding-left: 7px;"}
            -#     %span.glyphicon.glyphicon-trash{:style => "top: 3px; color: #263238"}
- if @sharedFiles.size == 0
  .col.s5.push-s3
    .h5{:style => "margin-top: 35px;"}
      Add files by clicking the "Upload" button above.

#modal2.modal
  .modal-content
    %h5{:style => "margin-bottom: 35px;"} Upload a File
    .drop-area
      .row
        .col-md-12
          = simple_form_for(:vault, html:{class: 'dropzone', id:'my-dropzone'}, url: upload_url(@sharedFolder.id))  {}
  .modal-footer
    %a.modal-action.modal-close.waves-effect.waves-green.btn-flat{:href => "#!", :style => "text-decoration: none;"} Close
