.modal.fade#viewModal1{tabindex:"-1", role:"dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  .modal-dialog
    .modal-body(style="overflow: hidden;")
      %iframe{:id => 'preview', :width => '100%', :height => '100%', :frameBorder => '0', :allowfullscreen => 'allowfullscreen'}
    .modal-footer
      %button{type:"button", class:"btn btn-default btn-small", "data-dismiss"=>"modal"}
        Close

.modal.fade#viewModal2{tabindex:"-1", role:"dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  .modal-dialog
    .modal-body(style="overflow: hidden;")
      %img{:id => 'image_preview', :width => '100%'}
    .modal-footer
      %button{type:"button", class:"btn btn-default btn-small", "data-dismiss"=>"modal"}
        Close

.home
  .container
    .new-bookshelf
      .title
        Vault
      .sub-title
        = "Here are your personal & shared files"
      %ul#tabs.nav.nav-tabs{:role => "tablist", :style => "margin-top: 10px; font-size: 60%; font-weight: 400"}
        - @tabs.each_with_index do |f, i|
          %li{:class => "#{'active' if @tabs.first == f}"}
            %a{"aria-controls" => f.name, "data-toggle" => "tab", :href => "##{f.id}"}= f.name
      %hr
      .tab-content
        - @tabs.each_with_index do |folder, index|
          %div{:class => "tab-pane fade #{'in active' if @tabs.first == folder}", :id => folder.id}
            .drop-area
              .row
                .col-md-12
                  = simple_form_for(:vault, html:{class: 'dropzone', id:'my-dropzone'}, url: upload_url(folder.id))  {}

.home
.container
  .col-md-12.col-sm-12.pull-right
    .panel.panel-default
      .panel-heading
        %h2 My Vault
        .sub-title
          = "Here are your personal & shared files"
      %table.table
        %thead
          %tr
            %th File
            %th Name
            %th Date Uploaded
            %th Status
          %tbody
            %ul#tabs.nav.nav-pills{:role => "tablist", :style => "margin-top: 10px; font-size: 60%; font-weight: 400"}
              - @tabs.each_with_index do |f, i|
                %li{:class => "#{'active' if @tabs.first == f}"}
                  %a{"aria-controls" => f.name, "data-toggle" => "tab", :href => "##{f.id}"}= f.name
            %tr
              %td
                .tab-content
                  - @tabs.each_with_index do |folder, index|
                    %div{:class => "tab-pane fade #{'in active' if @tabs.first == folder}", :id => folder.id}
                      .drop-area
                        .row
                          .col-md-12
                            = simple_form_for(:vault, html:{class: 'dropzone', id:'my-dropzone'}, url: upload_url(folder.id))  {}
          -# - @files.each do |f|
          -#     %tr
          -#       %td
          -#         /= link_to f.name, display_claim_path(f.id)
          -#       %td
          -#         /= @meta[f.id]["type"] if !@meta[f.id].nil?
          -#       %td
          -#         /= "$" + @meta[f.id]["value"] if !@meta[f.id].nil?
          -#       %td
          -#         /= @meta[f.id]["status"] if !@meta[f.id].nil?

:javascript
  Dropzone.options.myDropzone = {
    init: function() {
      this.on("queuecomplete", function(file) {
        setTimeout(function() {location.reload();}, 2000);
      });
    }
  };

:javascript
  $(function () {$('[data-toggle="tooltip"]').tooltip()})
