.container
  = render 'layouts/sidenav'
  .row
    .index-banner.section.no-pad-bot
  .row
    .col.m12.l10.push-l2{:style => "margin-top: 25px;"}
      // Title
      .col.s12
        %h3.thin{:style => "margin-top: 40px; font-size: 28px; letter-spacing: 1.5px; text-color: #002557;"}
          %i.material-icons.prefix{:style => "font-size: 28px;"} lock_outline
          = alt_text("My Vault")
        %h6.caption.thin{:style => "font-size: 16px;"}
          Your personal and shared files
        .help-icon.btn.hide_mobile{"data-toggle" => "chardinjs", :id => "opentour", :onclick => "chardinToggle()", :style => "padding: none; font-color: #fff !important;"}
          %i.material-icons.prefix{:style => "font-size: 18px; color: #222222;"} info_outline
          %span{:style => "color: #222222; position: relative; top: -4px; left: 0px; text-transform: lowercase; font-size: 12px;"}
            info
      // Tabs
      .col.l5.push-l7.s12#claim-tabs{:style => "margin-top: -45px; margin-left: 40px", "data-intro" => "These tabs represent folders in Box. Sharing a file below will make an api call to move to the 'Shared Files' folder where Company Employee, a Box managed user, is a collaborator (Editor)", "data-position" => "left"}
        %ul.tabs#claim-tabs1{:style => "background-color: transparent; width: 80% !important;"}
          %li.tab{:style => "font-size: 12px !important;"}
            %a{:href => "#myfiles", :class => "#{'active' if @myFolder.id == @currentFolder}"}
              = "My Files"
          %li.tab{:style => "font-size: 12px !important;"}
            %a{:href => "#sharedfiles", :class => "#{'active' if @sharedFolder.id == @currentFolder}"}
              = @sharedFolder.name
      // Table + upload button
      .col.s12{:style => "margin-left: 30px"}
        #myfiles.myvault_table
          .col.m6.s12{:style => "margin-top: 50px; padding-left: 0"}
            .breadcrumb.pull-left
              - @breadcrumb.each do |name, data|
                - if data[1]
                  %li{:id => "#{data[0]}", :style => "", :ondrop => "drop_item(event, '#{data[0]}')", :ondragover => "allowBreadcrumbDrop(event, '#{data[0]}')", :ondragleave => "breadcrumbdragLeave(event, '#{data[0]}')"}
                    = link_to name, dashboard_id_path(data[0])
                - else
                  %li.active
                    = name

          .col.m6.s12{:style => "margin-top: 30px;", "data-intro;" => "Upload files to the Box folder selected above", "data-position" => "left"}
            %div.pull-right{:style => "display: inline-block; position: relative"}
              -# .uploadbtn{:style => "position: relative !important"}
              %a.waves-effect.btn.white.black-text.modal-trigger.hide_below992{:href => "#newfolder", :style => "font-color: #263238 !important; text-decoration: none;"} New Folder

              %a.waves-effect.btn.white.black-text.modal-trigger.hide_below992.uploadbtn{:href => "#modal1", :style => "font-color: #263238 !important; text-decoration: none;"} Upload
              %form.uploadbtn.hide_above992{id: "file-upload", method: 'POST', action: 'blah', class: 'form-horizontal', :style => "text-align: center"}
                .form-group
                  -# %a.waves-effect.btn.white.black-text.modal-trigger{:href => "#newfolder", :style => "font-color: #263238 !important; text-decoration: none;"} New Folder
                  %button.waves-effect.btn.white.black-text.btn-file
                    Upload
                    %input{type: 'file', id: "file-select", name: 'files', :href => "#"}

          .col.s12
            .flash.col.s8.push-s2{:style => "margin-top: 20px"}
              - if @myFolder.id == @currentFolder
                = render partial: "shared/flash_messages", flash: flash
            = render 'dashboard/myfiles'
        #sharedfiles.myvault_table
          .col.s2.push-s10{:style => "margin-top: 30px;"}
            .uploadbtn.hide_below992.pull-right{:style => "position: relative !important"}
              %a.waves-effect.btn.white.black-text.modal-trigger{:href => "#modal2", :style => "font-color: #263238 !important; text-decoration: none;", "data-intro" => "Upload files to the Box folder selected above", "data-position" => "left"} Upload
            %form.uploadbtn.hide_above992{id: "file-upload", method: 'POST', action: 'blah', class: 'form-horizontal', :style => "text-align: center"}
              .form-group
                %button.waves-effect.btn.white.black-text.btn-file-shared
                  Upload
                  %input{type: 'file', id: "file-select", name: 'files', :href => "#"}
          .col.s12
            .flash.col.s8.push-s2{:style => "margin-top: 20px"}
              - if @sharedFolder.id == @currentFolder
                = render partial: "shared/flash_messages", flash: flash
            = render 'dashboard/sharedfiles'

#popover-content.hide{:style => "padding: 5px 10px"}
  %form.form-inline{:role => "form", :method => "post", :action => edit_name_path(@currentFolder)}
    %input#name{:type => "text", :name => "fileName", :style => "width: 53%; margin: 0 0 3px 0; height: 2rem"}
    %input#fileid.form-control{:type => "hidden", :name => "fileId"}
    %input#fileExt.form-control{:type => "hidden", :name => "fileExt"}
    %button.waves-effect.btn{:type => "submit", :style => "padding: 0 1rem; font-size: 65%; margin-left: 5px;"} Save
    %button.waves-effect.btn.white.black-text{:type => "button", :onclick => "$('[data-toggle=popover]').popover('hide');",  :style => "padding: 0 1rem; font-size: 65%"} Close

#popover-folder-content.hide{:style => "padding: 5px 10px"}
  %form.form-inline{:role => "form", :method => "post", :onclick => "event.stopPropagation();", :action => edit_folder_name_path(@currentFolder)}
    %input#folderName{:type => "text", name: 'folderName', :style => "width: 53%; margin: 0 0 3px 0; height: 2rem"}
    %input#folderId.form-control{:type => "hidden", :name => "folderId"}
    %button.waves-effect.btn{:type => "submit", :style => "padding: 0 1rem; font-size: 65%; margin-left: 5px;"} Save
    %button.waves-effect.btn.white.black-text{:type => "button", :onclick => "$('[data-toggle=folder-popover]').popover('hide');",  :style => "padding: 0 1rem; font-size: 65%"} Close


#newfolder.modal{:style => "width: 35% !important"}
  .modal-content
    %h5{:style => "margin-bottom: 35px;"} Create new folder
    .row
      .col.s12
        %form.form-inline{:role => "form", :method => "post", :action => new_folder_path(@myFolder.id)}
          %input#folder_name{:type => "text", :name => "folderName", :placeholder => "My New Folder", :style => ""}
          %button.modal-action.modal-close.waves-effect.btn.white.black-text.btn-flat.pull-right{:type => "button",  :style => "padding: 0 1rem; font-size: 65%"} Cancel
          %button.waves-effect.btn.pull-right{:type => "submit", :style => "padding: 0 1rem; font-size: 65%; margin-left: 5px;"} Create
        -# .modal-footer
        -#   %a.modal-action.modal-close.waves-effect.waves-green.btn-flat{:href => "#!", :style => "text-decoration: none;"} Close


:javascript
  // dropzone uploading
  Dropzone.options.myDropzone = {
    init: function() {
      this.on("queuecomplete", function(file) {
        setTimeout(function() {location.reload();}, 1000);
      });
    }
  };

  // trigger modals
  $(document).ready(function(){
    $('.modal-trigger').leanModal();
  });

  // edit folder name popover
  $(document).ready(function(){
    $('[data-toggle=folder-popover]').popover({
      html: 'true',
      placement: 'right',
      content : function() {
        return $('#popover-folder-content').html();
      }
    })
    $(".button-collapse").sideNav();
  });


  // edit filename popover
  $(document).ready(function(){
    $('[data-toggle=popover]').popover({
      html: 'true',
      placement: 'right',
      content : function() {
        return $('#popover-content').html();
      }
    })
    $(".button-collapse").sideNav();
  });

  function chardinToggle() {
    $('body').chardinJs('toggle');
  }


  // CLIENT SIDE UPLOAD
  $(document).on('change', '.btn-file :file', function() {

    var input = $(this),
      numFiles = input.get(0).files ? input.get(0).files.length : 1,
      files = input.get(0).files,
      label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
    var theInput = input.parent().get(0);
    theInput.innerText = "Uploading...";

    // The Box OAuth 2 Header. Add your access token.
    var headers = { Authorization: 'Bearer #{@user_access_token}'};
    var uploadUrl = 'https://upload.box.com/api/2.0/files/content';
    var formData = new FormData();

    // Add the destination folder for the upload to the form
    formData.append('files', files[0], files[0].name);
    formData.append('parent_id', '#{@myFolder.id}');


    $.ajax({
      url: uploadUrl,
      headers: headers,
      type: 'POST',
      // This prevents JQuery from trying to append the form as a querystring
      processData: false,
      contentType: false,
      data: formData
    }).complete(function ( data ) {
      console.log('finished uploading to Box');
      location.reload(true);
    });
  });

  $(document).on('change', '.btn-file-shared :file', function() {

    var input = $(this),
      numFiles = input.get(0).files ? input.get(0).files.length : 1,
      files = input.get(0).files,
      label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
    var theInput = input.parent().get(0);
    theInput.innerText = "Uploading...";

    // The Box OAuth 2 Header. Add your access token.
    var headers = { Authorization: 'Bearer #{@user_access_token}'};
    var uploadUrl = 'https://upload.box.com/api/2.0/files/content';
    var formData = new FormData();

    // Add the destination folder for the upload to the form
    formData.append('files', files[0], files[0].name);
    formData.append('parent_id', '#{@sharedFolder.id}');


    $.ajax({
      url: uploadUrl,
      headers: headers,
      type: 'POST',
      // This prevents JQuery from trying to append the form as a querystring
      processData: false,
      contentType: false,
      data: formData
    }).complete(function ( data ) {
      console.log('finished uploading to Box');
      location.href = "/dashboard/#{@sharedFolder.id}";
    });
  });


  // Drag and drop functions
  var draggedElement = null;

  // Start to drag element
  function drag(ev, type) {

      ev.dataTransfer.setData("id", ev.target.id);
      ev.dataTransfer.setData("type", type);
      draggedElement = ev.target.id;
  }

  // Can we drop item into current element?
  function allowDrop(ev, id) {

    // Cannot dropped dragged item into itself
    if (draggedElement != id) {
      event.preventDefault();
      document.getElementById(id).style.border = "2px dashed #2996CC";
    }
  }

  function allowBreadcrumbDrop(ev, id) {

    event.preventDefault();
    document.getElementById(id).style.fontWeight = "bolder";
    document.getElementById(id).style.color = "#2A649C";
  }

  // Leave the drag destination
  function breadcrumbdragLeave(ev, id) {
    document.getElementById(id).style.fontWeight = "";
    document.getElementById(id).style.color = "#039be5";
  }

  // Leave the drag destination
  function dragLeave(ev, id) {
    document.getElementById(id).style.border = "";
  }

  // Drop dragged item into destination
  function drop_item(ev, id) {

      ev.preventDefault();
      var itemId = ev.dataTransfer.getData("id");
      var itemType = ev.dataTransfer.getData("type");

      // determine if item if folder or file
      if (itemType == 'file')
        location.href = '/move_file/?dest=' + id + '&file_id=' + itemId;
      else if (itemType == 'folder' && draggedElement != id)
        location.href = '/move_folder/?dest=' + id + '&folder_id=' + itemId;
  }

  $('.dropdown-button').dropdown({
      hover: true, // Activate on hover
    }
  );
