.container
  = render 'layouts/sidenav'
  .row
    .index-banner.section.no-pad-bot
  .row
    .col.m12.l10.push-l2{:style => "margin-top: 25px;"}
      // Title
      .col.s12
        %h3.thin{:style => "margin-top: 40px; font-size: 28px; letter-spacing: 1.5px; text-color: #002557;"}
          %i.material-icons.prefix{:style => "font-size: 28px;"} lock_outline
          My Vault
        %h6.caption.thin{:style => "font-size: 16px;"}
          Your personal and shared files
        .help-icon.btn.hide_mobile{"data-toggle" => "chardinjs", :id => "opentour", :onclick => "chardinToggle()", :style => "padding: none; font-color: #fff !important;"}
          %i.material-icons.prefix{:style => "font-size: 18px; color: #222222;"} info_outline
          %span{:style => "color: #222222; position: relative; top: -4px; left: -3px; text-transform: lowercase; font-size: 12px;"}
            info
      // Tabs
      .col.l5.push-l7.s12#claim-tabs{:style => "margin-top: -45px; margin-left: 40px", "data-intro" => "These tabs represent folders in Box. Sharing a file below will make an api call to move to the 'Shared Files' folder where Company Employee, a Box managed user, is a collaborator (Editor)", "data-position" => "left"}
        %ul.tabs#claim-tabs1{:style => "background-color: transparent; width: 80% !important;"}
          %li.tab{:style => "font-size: 12px !important;"}
            %a{:href => "#myfiles", :class => "#{'active' if @myFolder.id == @currentFolder}"}
              = @myFolder.name
          %li.tab{:style => "font-size: 12px !important;"}
            %a{:href => "#sharedfiles", :class => "#{'active' if @sharedFolder.id == @currentFolder}"}
              = @sharedFolder.name
      // Table + upload button
      .col.s12{:style => "margin-left: 30px"}
        #myfiles
          .col.s2.push-s10{:style => "margin-top: 30px;", "data-intro" => "Upload files to the Box folder selected above", "data-position" => "left"}
            .uploadbtn{:style => "position: relative !important"}
              %a.waves-effect.btn.white.black-text.modal-trigger{:href => "#modal1", :style => "font-color: #263238 !important; text-decoration: none;"} Upload


          .col.s12
            .flash.col.s8.push-s2{:style => "margin-top: 20px"}
              - if @myFolder.id == @currentFolder
                = render partial: "shared/flash_messages", flash: flash
          = render 'dashboard/myfiles'
        #sharedfiles
          .col.s2.push-s10{:style => "margin-top: 30px;"}
            .uploadbtn{:style => "position: relative !important"}
              %a.waves-effect.btn.white.black-text.modal-trigger{:href => "#modal2", :style => "font-color: #263238 !important; text-decoration: none;", "data-intro" => "Upload files to the Box folder selected above", "data-position" => "left"} Upload
          .col.s12
            .flash.col.s8.push-s2{:style => "margin-top: 20px"}
              - if @sharedFolder.id == @currentFolder
                = render partial: "shared/flash_messages", flash: flash
          = render 'dashboard/sharedfiles'

#popover-content.hide{:style => "padding: 5px 10px"}
  %form.form-inline{:role => "form", :method => "post", :action => edit_name_path(@currentFolder)}
    %input#name{:type => "text", :name => "fileName", :style => "width: 53%; margin: 0 0 3px 0; height: 2rem"}
    %input#fileid.form-control{:type => "hidden", :name => "fileId"}
    %input#fileExt.form-control{:type => "hidden", :name => "fileExt"}
    %button.waves-effect.btn{:type => "submit", :style => "padding: 0 1rem; font-size: 65%; margin-left: 5px;"} Save
    %button.waves-effect.btn.white.black-text{:type => "button", :onclick => "$('[data-toggle=popover]').popover('hide');",  :style => "padding: 0 1rem; font-size: 65%"} Close


:javascript
  // dropzone uploading
  Dropzone.options.myDropzone = {
    init: function() {
      this.on("queuecomplete", function(file) {
        setTimeout(function() {location.reload();}, 1000);
      });
    }
  };

  // trigger modals
  $(document).ready(function(){
    $('.modal-trigger').leanModal();
  });

  // edit filename popover
  $(document).ready(function(){
    $('[data-toggle=popover]').popover({
      html: 'true',
      placement: 'right',
      content : function() {
        return $('#popover-content').html();
      }
    })
    $(".button-collapse").sideNav();
  });

  function chardinToggle() {
    $('body').chardinJs('toggle');
  }
