-# #modal1.modal
-#   .modal-content
-#     %h5{:style => "margin-bottom: 35px;"} Upload a File
-#     .drop-area
-#       .row
-#         .col-md-12
-#           = simple_form_for(:vault, html:{class: 'dropzone', id:'my-dropzone'}, url: upload_url(@currentFolder))  {}
-#   .modal-footer
-#     %a.modal-action.modal-close.waves-effect.waves-green.btn-flat{:href => "#!", :style => "text-decoration: none;"} Close

#index-banner.section.no-pad-bot
  .container
    %h3.thin{:style => "margin-left: 165px; margin-top: 40px; font-size: 28px; letter-spacing: 1.5px; text-color: #002557;"}
      %i.material-icons.prefix{:style => "font-size: 28px;"} lock_outline
      My Vault
    %h6.caption.thin{:style => "margin-left: 165px; font-size: 16px;"}
      Your personal and shared files
    .col.s5{:style => "margin-top: -45px; margin-left: 750px;"}
      %ul.tabs{:style => "background-color: transparent; width: 80% !important;"}
        %li.tab{:style => "font-size: 12px !important;"}
          %a{:href => "#myfiles", :class => "#{'active' if @myFolder.id == @currentFolder}"}
            = @myFolder.name
        %li.tab{:style => "font-size: 12px !important;"}
          %a{:href => "#sharedfiles", :class => "#{'active' if @sharedFolder.id == @currentFolder}"}
            = @sharedFolder.name
        -# %li.tab{:style => "font-size: 12px !important;", :class => "#{'active' if @myFolder.id == @currentFolder}"}
        -#   = link_to @myFolder.name, dashboard_id_path(@myFolder.id)
        -# %li.tab{:style => "font-size: 12px !important;", :class => "#{'active' if @sharedFolder.id == @currentFolder}"}
        -#   = link_to @sharedFolder.name, dashboard_id_path(@sharedFolder.id)


.container
  = render 'layouts/sidenav'
  #myfiles
    .row
      .col.s2.push-s10.h6{:style => "margin-top: 40px;"}
        %a.waves-effect.btn.white.black-text.modal-trigger{:href => "#modal1", :style => "font-color: #263238 !important; text-decoration: none;"} Upload
    .row{:style => "margin-top: 20px;"}
      = render 'dashboard/myfiles'
  #sharedfiles
    .row
      .col.s2.push-s10.h6{:style => "margin-top: 40px;"}
        %a.waves-effect.btn.white.black-text.modal-trigger{:href => "#modal2", :style => "font-color: #263238 !important; text-decoration: none;"} Upload
    .row{:style => "margin-top: 20px;"}
      = render 'dashboard/sharedfiles'

:javascript
  Dropzone.options.myDropzone = {
    init: function() {
      this.on("queuecomplete", function(file) {
        setTimeout(function() {location.reload();}, 1000);
      });
    }
  };

:javascript
  $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();
  });
