

#myModal.modal.fade{:role => "dialog"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} &times;
        %h4.modal-title Upload a File
      .modal-body
        .drop-area
          .row
            .col-md-12
              = simple_form_for(:vault, html:{class: 'dropzone', id:'my-dropzone'}, url: upload_url(@currentFolder))  {}
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close

.home
.col-md-2
  / SIDEBAR USERPIC
  .row
    .profile-userpic
      %img.img-responsive{:alt => "", :src => "http://keenthemes.com/preview/metronic/theme/assets/admin/pages/media/profile/profile_user.jpg"}

    / END SIDEBAR USERPIC
    / SIDEBAR USER TITLE
    .profile-usertitle
      .profile-usertitle-name
        Marcus Doe
      .profile-usertitle-job
        Customer
    / END SIDEBAR USER TITLE

    / SIDEBAR MENU
    .profile-usermenu
      %ul.nav.nav-pills.nav-stacked.appnavbtns
        %li.active{:style => "background-color: #A9E2F3"}
          %a{:href => "/dashboard"}
            %i.glyphicon.glyphicon-home
            My Vault
        %li
          %a{:href => "/resources"}
            %i.glyphicon.glyphicon-user
            Resources
        %li
          %a{:href => "#", :target => "_blank"}
            %i.glyphicon.glyphicon-ok
            Tasks
        %li
          %a{:href => "#"}
            %i.glyphicon.glyphicon-flag
            Help
  / END MENU
.container
  .col-md-10.col-sm-10.pull-right{:class => "myvaulttable" }
    .panel.panel-default
      .panel-heading
        .pull-right.h4
          %button.btn.btn-primary.btn-lg{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"} Upload File
        %h2 My Vault
        .sub-title
          = "Your personal & shared files"
      %table.table
        %thead
          %tr
            %th File
            %th Name
            %th Date Uploaded
            %th Actions
          %tbody
            %ul#tabs.nav.nav-pills{:role => "tablist", :style => "margin-top: 10px; font-size: 110%; font-weight: 400", :class => "sidebyside"}
              %li{:class => "#{'active' if @myFolder.id == @currentFolder}", :id => "myvaultbtns"}
                = link_to @myFolder.name, dashboard_id_path(@myFolder.id)
              %li{:class => "#{'active' if @sharedFolder.id == @currentFolder}", :id => "myvaultbtns"}
                = link_to @sharedFolder.name, dashboard_id_path(@sharedFolder.id)
            / list file contents
            - @files.each do |f|
              %tr
                %td
                  = link_to view_doc_path(f.id) do
                    = image_tag(thumbnail_url(f.id), width: '30px')
                %td
                  = f.name
                %td
                  = DateTime.strptime(f.created_at).strftime("%B %d, %Y %l:%M %p")
                %td
                  / file action options
                  .btn-group
                    %a.btn.btn-default.btn-md{href: view_doc_path(f.id), 'data-toggle'=>'tooltip', 'data-placement'=>'top', 'data-container'=>'body', 'title'=>'View'}
                      %span.glyphicon.glyphicon-eye-open
                    - if (@currentFolder == @myFolder.id)
                      %a.btn.btn-default.btn-md{href: share_file_path(f.id), 'data-toggle'=>'tooltip', 'data-placement'=>'top', 'data-container'=>'body', 'title'=>'Share with Employee'}
                        %span.glyphicon.glyphicon-share
                    - elsif (@currentFolder == @sharedFolder.id)
                      %a.btn.btn-default.btn-md{href: unshare_file_path(f.id), 'data-toggle'=>'tooltip', 'data-placement'=>'top', 'data-container'=>'body', 'title'=>'Unshare'}
                        %span.glyphicon.glyphicon-share
                    %a.btn.btn-default.btn-md{href: download_path(f.id), 'data-toggle'=>'tooltip', 'data-placement'=>'top', 'data-container'=>'body', 'title'=>'Download'}
                      %span.glyphicon.glyphicon-cloud-download
                    %a.btn.btn-default.btn-md{href: delete_file_path(f.id), 'data-toggle'=>'tooltip', 'data-placement'=>'top', 'data-container'=>'body', 'title'=>'Delete'}
                      %span.glyphicon.glyphicon-trash
    -# .drop-area
    -#   .row
    -#     .col-md-12
    -#       = simple_form_for(:vault, html:{class: 'dropzone', id:'my-dropzone'}, url: upload_url(@currentFolder))  {}


:javascript
  Dropzone.options.myDropzone = {
    init: function() {
      this.on("queuecomplete", function(file) {
        setTimeout(function() {location.reload();}, 2000);
      });
    }
  };

:javascript
  $(function () {$('[data-toggle="tooltip"]').tooltip()})
