.container
  = render 'layouts/sidenav'
  .row
    .index-banner.section.no-pad-bot
  .row
    .col.m12.l10.push-l2{:style => "margin-top: 25px;"}
      // Title
      .col.s12
        %h3.thin{:style => "margin-top: 40px; font-size: 28px; letter-spacing: 1.5px; text-color: #333333;"}
          %i.material-icons.prefix{:style => "font-size: 28px;"} offline_pin
          Request For Proposal
        %h6.caption.thin{:style => "font-size: 16px;"}
          Create and Distribute your RFP
        // Tabs
      .col.s5.push-s7{:style => "margin-top: -45px; margin-left: 40px"}
        %ul.tabs{:style => "background-color: transparent; width: 80% !important;"}
          %li.tab{:style => "font-size: 12px !important;"}
            %a{:href => "#rfpCollect"}
              Build Your RFP
          %li.tab{:style => "font-size: 12px !important;"}
            %a{:href => "#rfpDistribute", :class => "#{'active' if @currentPage == 'submitted' || params[:tab] == "signed"}"}
              Distribute Your RFP

      .col.s12#rfpCollect{:style => "margin-top: 10px"}
        = render 'request_for_proposal/collectRFP'
      .col.s12#rfpDistribute{:style => "margin-top: 10px"}
        = render 'request_for_proposal/distributeRFP'

  %p{:style=>"text-align: right; font-size: 10px;"}
    = link_to "reset", rfp_reset_path
