.index-banner.section.no-pad-bot
  .container
    = render 'layouts/sidenav'
    .row
      .col.m12.l10.push-l2
        // Title
        .col.s12
          %h3.thin{:style => "margin-top: 40px; font-size: 28px; letter-spacing: 1.5px; text-color: #002557;"}
            %i.material-icons.prefix{:style => "font-size: 28px;"} business
            Taxes
          %h6.caption.thin{:style => "font-size: 16px;"}
            Upload your relevant tax documents here.
        // Tabs
        .col.s5.push-s7{:style => "margin-top: -45px; margin-left: 40px"}
          %ul.tabs{:style => "background-color: transparent; width: 80% !important;"}
            %li.tab{:style => "font-size: 12px !important;"}
              %a{:href => "#newclaim"}
                My Tax Organizer
            %li.tab{:style => "font-size: 12px !important;"}
              %a{:href => "#submittedclaims", :class => "#{'active' if @currentPage == 'submitted' || params[:tab] == "signed"}"}
                My Tax Preparation

        .col.s12#newclaim{:style => "margin-top: 10px"}
          .col.s10.push-s1
            .col.s12{:style => "margin-top: 45px; margin-left: 30px"}
              %table.highlight
                %thead
                  %tr
                    %th File
                    %th Name
                    %th.hidden-xs.hidden-sm Status
                    %th Actions
                  %tbody
                    -# Loan Agreement
                    %tr
                      %td.td{:id => "formStatus"}
                        = image_tag @docStatus["Forms Image"], width: '40px'
                      %td.td{:id => "formStatus"}
                        Forms
                      %td.td{:id => "formStatus"}
                        = @docStatus["Forms"]
                      %td.td
                        - if @docStatus["Forms"] == "Missing"
                          %a.waves-effect.btn.white.black-text.modal-trigger#uploadButton{:href => @searchFiles["Forms"].size > 0 ? "#formsDocs" : "/forms_file", :style => "font-color: #263238 !important; text-decoration: none; font-size: 10px;"} Upload
                        - elsif @docStatus["Forms (Not Signed)"] == "Signature Needed"
                          %form{:method => "get", :action => tax_loan_docusign_path(@fileId["Forms"])}
                            %button.waves-effect.btn.white.black-text{:type => "submit", :style => "font-size: 10px;"}
                              Sign
                        - else
                          %form{:method => "get", :action => view_doc_path(@fileId["Forms"])}
                            %button.waves-effect.btn.white.black-text{:type => "submit", :style => "font-size: 10px;"}
                              View
                    -# W2 Form
                    %tr
                      %td.td{:id => "incomeStatus"}
                        = image_tag @docStatus["Income Image"], width: '40px'
                      %td.td{:id => "incomeStatus"}
                        Income/Investments
                      %td.td{:id => "incomeStatus"}
                        = @docStatus["Income"]
                      %td.td
                        - if @docStatus["Income"] == "Missing"
                          %a.button.waves-effect.btn.white.black-text.modal-trigger{:href => @searchFiles["Income"].size > 0 ? "#incomeDocs" : "/income_file", :style => "text-decoration: none; font-size: 10px;"} Upload
                        - else
                          %form{:method => "get", :action => view_doc_path(@fileId["Income"])}
                            %button.waves-effect.btn.white.black-text{:type => "submit", :style => "font-size: 10px;"}
                              View
                    -# Tax Return
                    %tr
                      %td.td{:id => "deductionsStatus"}
                        = image_tag @docStatus["Deductions Image"], width: '40px'
                      %td.td{:id => "deductionsStatus"}
                        Deductions/Expenses
                      %td.td{:id => "deductionsStatus"}
                        = @docStatus["Deductions"]
                      %td.td
                        - if @docStatus["Deductions"] == "Missing"
                          %a.button.waves-effect.btn.white.black-text.modal-trigger{:href => @searchFiles["Deductions"].size > 0 ? "#deductionsDocs" : "/deductions_file", "data-toggle" => "modal", :type => "button", :style => "font-size: 10px;"} Upload
                        - else
                          %form{:method => "get", :action => view_doc_path(@fileId["Deductions"])}
                            %button.waves-effect.btn.white.black-text{:type => "submit", :style => "font-size: 10px;"}
                              View

        .col.s12#submittedclaims{:style => "margin-top: 20px"}
          .col.s10.push-s1
            = render partial: "shared/flash_messages", flash: flash

          %table{:style => "margin-top: 45px; margin-left: 30px"}
            %thead
              %tr
                %th File Name
                %th Date Submitted
                %th Category
                %th Subcategory
                %th Actions
            %tbody
            -@taxItems.each do |result|
              %tr
                %td
                  = result.name
                %td
                  = result.content_created_at[0,10]
                %td
                  = result.category
                %td
                  = result.subcategory
                %td
                  .btn-group{:style => "z-index: 99999;"}
                    %a.btn.white.tooltipped{href: view_doc_path(result.id, folder: @taxReturnFolder.id), 'data-position'=>"top", 'data-delay'=>"50", 'data-tooltip'=>"View", :style => "padding-right: 9px; padding-left: 9px"}
                      %span.glyphicon.glyphicon-eye-open{:style => "top: 3px; color: #263238"}
                    %a.btn.white.tooltipped{href: download_tax_file_path(result.id, folder: @taxReturnFolder.id), 'data-position'=>"top", 'data-delay'=>"50", 'data-tooltip'=>"Download", :style => "padding-right: 9px; padding-left: 9px;"}
                      %span.glyphicon.glyphicon-download{:style => "top: 3px; color: #263238"}
                    %a.btn.white.tooltipped{href: delete_tax_file_path(result.id, folder: @taxReturnFolder.id), 'data-position'=>"top", 'data-delay'=>"50", 'data-tooltip'=>"Delete", :style => "padding-right: 9px; padding-left: 9px;"}
                      %span.glyphicon.glyphicon-trash{:style => "top: 3px; color: #263238"}
                    - if(result.name.split(" ").last.split(".").first != "(Signed)")
                      %a.btn.white.tooltipped{href: tax_loan_docusign_path(result.id, folder: @taxReturnFolder.id), 'data-position'=>"top", 'data-delay'=>"50", 'data-tooltip'=>"E-Sign", :style => "padding-right: 9px; padding-left: 9px;"}
                        %span.glyphicon.glyphicon-exclamation-sign{:style => "top: 3px; color: #263238"}

          - if @taxItems.size == 0
            %h6{:style => "text-align: center; margin-top:35px;"}
              You have not yet submitted any tax documents

  %p{:style=>"text-align: right; font-size: 10px;"}
    = link_to "reset", tax_reset_path

#viewModal.modal.modal-fixed-footer{:style => "height: 80%; max-height: 80%;	width: 960px;	background-color: white"}
  .modal-content
    %iframe{:id => 'preview', :width => '100%', :height => '100%', :frameBorder => '0'}
  .modal-footer
    %a.modal-action.modal-close.waves-effect.waves-green.btn-flat{:href => "#!", :style => "text-decoration: none;"} Close


#viewModal2.modal.modal-fixed-footer{:style => "height: 80%; max-height: 80%; background-color: white"}
  .modal-content
    %img{:id => 'image_preview', :height => '100%', :style => "text-align: center"}
  .modal-footer
    %a.modal-action.modal-close.waves-effect.waves-green.btn-flat{:href => "#!", :style => "text-decoration: none;"} Close

-# All modals on this page
-# ============================================================================================================================-#
-# Modals for upload suggestions
#formsDocs.modal
  .modal-content
    %h5{:style => "margin-bottom: 35px;"} Suggested Tax Forms
    .collection.with-header
      .collection-header
        Suggested items from your vault
      - if !@searchFiles["Forms"].nil?
        - @searchFiles["Forms"].each do |f|
          %a.collection-item{:href => tax_copy_from_vault_path(f.id, new_name: "Forms (Not Signed)", old_name: f.name), :style => "text-decoration: none;"}
            = f.name
  .modal-footer
    %a.modal-action.modal-close.btn-flat.modal-trigger{:href => "/forms_file", :style => "text-decoration: none;"}
      Upload New Forms

#incomeDocs.modal
  .modal-content
    %h5{:style => "margin-bottom: 35px;"} Suggested Income Documents
    .collection.with-header
      .collection-header
        Suggested items from your vault
      - if !@searchFiles["Income"].nil?
        - @searchFiles["Income"].each do |f|
          %a.collection-item{:href => tax_copy_from_vault_path(f.id, new_name: "Income", old_name: f.name), :style => "text-decoration: none;"}
            = f.name
  .modal-footer
    %a.modal-action.modal-close.btn-flat.modal-trigger{:href => "/income_file", :style => "text-decoration: none;"}
      Upload New Income Document

#deductionsDocs.modal
  .modal-content
    %h5{:style => "margin-bottom: 35px;"} Suggested Deductions Documents
    .collection.with-header
      .collection-header
        Suggested items from your vault
      - if !@searchFiles["Deductions"].nil?
        - @searchFiles["Deductions"].each do |f|
          %a.collection-item{:href => tax_copy_from_vault_path(f.id, new_name: "Deductions", old_name: f.name), :style => "text-decoration: none;"}
            = f.name
  .modal-footer
    %a.modal-action.modal-close.btn-flat.modal-trigger{:href => "/deductions_file", :style => "text-decoration: none;"}
      Upload New Deductions

#taskModal.modal.modal-fixed-footer
  .modal-content{:style => "height: 50%;"}
    %h4 Modal Header
    %form.form-inline{:role => "form", :action => advisor_task_path, :method => "post"}
      .commentbox
        %label{:for => "message", :style => "left: 0"} Ask a Specialist
        %textarea.input{:style => "width: 100%; height: 100%; background-color: #fff;", :rows => "4", :cols => "50", :name => "comment", :required => true}
      .form-group{:style => "margin-bottom: 30px"}
        %button.waves-effect.btn.white.black-text{:style => "margin-top: 5px"} Send
  .modal-footer
    %a.modal-action.modal-close.waves-effect.waves-green.btn-flat{:href => "#!"} Agree

:javascript
    Dropzone.options.myAwesomeDropzone = {
    init: function() {
      this.on("queuecomplete", function(file) {
        setTimeout(function() {location.reload();}, 1000);
      });
    }
  };
  $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();
  });

  $(document).ready(function() {
    $('select').material_select();
  });

  $("#type").change ( function () {
      var targID  = $(this).val ();
      $("div.style-sub-1").hide ();
      $('#' + targID).show ();
  })


  var docStatus = #{@docStatus.to_json}

  $(window).on('load', function() {
    if(docStatus["Forms"] == "Signed"){
      var formClass = document.querySelectorAll("#formStatus");

      $.each( [formClass], function( i, l ){
        $(l).addClass( "grayout" );
      });
    }

    if(docStatus["Income"] == "Signed"){
      var incomeClass = document.querySelectorAll("#incomeStatus");

      $.each( [incomeClass], function( i, l ){
          $(l).addClass( "grayout" );
       });
     }

     if(docStatus["Deductions"] == "Signed"){
       var deductionsClass = document.querySelectorAll("#deductionsStatus");

       $.each( [deductionsClass], function( i, l ){
          $(l).addClass( "grayout" );
       });
     }
   });

   $(document).on("click", ".taskValue", function () {
     var value = $(this).data('id');
     $(".modal-body").val(value);
     $.ajax({
          url: "/advisor_task",
          data: {fileValue: value},
          type: 'POST',
          success: function(data){
              alert(data);
              $("#stage").html(data);
          }
      });
   });
