.container
  = render 'layouts/sidenav'
  .row
    .index-banner.section.no-pad-bot
  .row
    .col.m12.l10.push-l2{:style => "margin-top: 25px;"}
      // Title
      .col.s12
        %h3.thin{:style => "margin-top: 40px; font-size: 28px; letter-spacing: 1.5px; text-color: #002557;"}
          %i.material-icons.prefix{:style => "font-size: 28px;"} lock_outline
          Analytics (Admin)
        %h6.caption.thin{:style => "font-size: 16px;"}
          = alt_text("Application analytics powered by Tableau and Splunk")
        .help-icon.btn.hide_mobile{"data-toggle" => "chardinjs", :id => "opentour", :onclick => "chardinToggle()", :style => "padding: none; font-color: #fff !important;"}
          %i.material-icons.prefix{:style => "font-size: 18px; color: #222222;"} info_outline
          %span{:style => "color: #222222; position: relative; top: -4px; left: 0px; text-transform: lowercase; font-size: 12px;"}
            info

      // captures
      .col.s12
        %h6{:style => "margin-top: 40px"}
          %b Tableau
          = '- see and understand responder data'
        = image_tag "earthquake-tableau.png", :width => '100%', :style => "margin-top: -50px !important"
      .col.s12
        %h6{:style => "margin-top: 40px"}
          %b Splunk
          = '- operational visibility'
        = image_tag "splunk-capture.png", :style => "margin-top: 10px !important", :width => '100%'
