// Messaging
.col.s5.push-s7{:style => "margin-top:-20px; text-align: right"}
  .styleoverlay{:style => "margin-left: 130px;"}
  - if @root == true
    .breadcrumb.hide_mobile
      %li
        %li.active{:href => "#", "data-intro" => "Your current folder path. On creation of your App User you were granted Viewer access to these folders", "data-position" => "bottom"} Resources
  - elsif !@subName.nil?
    .breadcrumb.hide_mobile{:style => "vertical-align: top"}
      %li{ "data-intro" => "Look here for a breadcrumb view of your current folder", "data-position" => "bottom"}
        %a{:href => "/resources"} Resources
      %li.active{:href => "#", :style => ""}
        = @subName

// Results: folders or files
.col.s12{:style => "margin-left: 30px"}
  - if (@root == true)
    %table.highlight.resources_table
      %thead
        %tr
          %th{"data-field" => "id"} Folder
          %th{"data-field" => "name"} Name
          %th{"data-field" => "modified"} Last Modified
          %th{"data-field" => "modified"} Description
      - @results.each_with_index do |folder, i|
        %tr{:onclick => "location.href = '/resources/#{folder.id}'"}
          %td{"data-intro" => i==0 ? "We've added your App User to the 'Customer' group in Box with access to these folders. Search or click to navigate content." : nil,  "data-position" => i==0 ? "left" : nil}
            = image_tag("https://hostr.co/file/eMmzO9cqCEjm/Folder.png", height: '50px')
          %td
            .filename.name_elipses{:style => "font-size: 16px; color: #333 !important; text-decoration: none;"}
              = link_to folder.name, sub_resource_path(folder.id), {:style=>'color:#333; text-decoration: none; font-size: 14px;'}
          %td
            .name_elipses
              = DateTime.strptime(folder.content_modified_at).strftime("%B %d, %Y")
          %td
            .name_elipses
              = folder.description
  - if (@root != true)
    %table.highlight.resources_table
      %thead
        %tr
          %th{"data-field" => "id"} File
          %th{"data-field" => "name"} Name
          %th.hide_mobile{"data-field" => "foop"} Created


      - @results.each_with_index do |result, i|
        %tr{"data-lity" => "", :href => preview_url(result.id), :class => "tooltipped", 'data-position'=>"left", 'data-delay'=>"50", 'data-tooltip'=>"View"}
          %td{"data-intro" => i==0 ? "Each of these documents are viewable in the browser via the Box Preview endpoint" : nil,  "data-position" => i==0 ? "left" : nil}
            = image_tag(thumbnail_url(result.id), :width => "40px")
          %td
            .name_elipses
              = result.name
          %td.hide_mobile
            .name_elipses
              = DateTime.strptime(result.created_at).strftime("%B %d, %Y %l:%M %p")
