

.modal.fade#viewModal1{tabindex:"-1", role:"dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
  .modal-dialog{:style => "height: 800px;	width: 960px;	background-color: white"}
    .modal-body(style="overflow: hidden; height: 730px;	width: 960px")
      %iframe{:id => 'preview', :width => '100%', :height => '100%', :frameBorder => '0', :allowfullscreen => 'allowfullscreen'}
    .modal-footer
      %button{type:"button", class:"btn btn-default btn-small", "data-dismiss"=>"modal", :style => "font-size: 100%"}
        Close


#index-banner.section.no-pad-bot
  .container
    %h3.thin{:style => "margin-left: 165px; margin-top: 40px; font-size: 28px; letter-spacing: 1.5px; text-color: #002557;"}
      %span.glyphicon.glyphicon-sort-by-attributes-alt{:style => "font-size: 22px;"}
      Resources
    %h6.caption.thin{:style => "margin-left: 165px; font-size: 16px;"}
      Find relevant content, fast

.home
  .container
    = render 'layouts/sidenav'
  .row{:style => "margin-top: 40px;"}
    %span
      = simple_form_for(:search, html: {class: 'form-search'}, :url => "#", defaults: { label: false }) do |f|
        .col.s4.push-s3{:style => "margin-left: -30px;"}
          = f.input :query, placeholder: "Search...", input_html: {class: 'input-field'}
        .col.s3.push-s3
          = f.submit 'Search', class: 'waves-effect btn white black-text', :style => "margin-top: 5px;"
        .col.s1.push-s2{:style => "margin-left: -40px;"}
          %select
            %option{:disabled => "", :selected => "", :value => ""} Type
            %option{:value => "1"}
              = link_to "pdf", search_path(:filter_query => "pdf", :filter => "file_type"), :method => :post
            %option{:value => "2"}
              = link_to 'docx', search_path(:filter_query => "docx", :filter => "file_type"), :method => :post
            %option{:value => "3"}
              = link_to 'pptx', search_path(:filter_query => "pptx", :filter => "file_type"), :method => :post
            %option{:value => "3"}
              = link_to 'xlsx', search_path(:filter_query => "xlsx", :filter => "file_type"), :method => :post
          %label Filter by
        .col.s1.push-s2
          %select
            %option{:disabled => "", :selected => "", :value => "", :style => "font-size: 12px !important;"} Category
            %option{:value => "1", :style => "font-size: 12px;"}
              = link_to "Training", search_path(:filter_query => "Training Material", :key => "type"), :method => :post
            %option{:value => "2", :style => "font-size: 12px;"}
              = link_to 'Onboard', search_path(:filter_query => "Onboarding Document", :key => "type"), :method => :post
            %option{:value => "3", :style => "font-size: 12px;"}
              = link_to 'Research', search_path(:filter_query => "Case Study", :key => "type"), :method => :post
        .col.s1.push-s2
          %select
            %option{:disabled => "", :selected => "", :value => ""} Privacy
            %option{:value => "1"}
              = link_to "External", search_path(:filter_query => "External", :key => "audience"), :method => :post
            %option{:value => "2"}
              = link_to 'Internal', search_path(:filter_query => "Internal", :key => "audience"), :method => :post
        .col.s6.push-s3
          - if @results.nil? or @results.count == 0
            %h6{:style =>'text-align: center; margin-top: 30px; margin-left: 200px;'}
              There were no results matching your search criteria.
          - else
            / either results were found for your search or were are in the resource root folder / sub-folder
            %h6
            / are we in the root folder?
            - if (@root == true)
              .row
                .col.s8{:style => "width: 130%;"}
                  %table.highlight
                    %thead
                      %tr
                        %th{"data-field" => "id"} Folder
                        %th{"data-field" => "name"} Name

                    - @results.each do |folder|
                      %tr
                        %th
                          = image_tag("https://hostr.co/file/eMmzO9cqCEjm/Folder.png", height: '50px')
                        %th
                          .filename{:style => "font-size: 16px; color: #333 !important; text-decoration: none;"}
                            = link_to folder.name, sub_resource_path(folder.id), {:style=>'color:#333; text-decoration: none; font-size: 14px;'}
            - if (!@text.nil?)
              = "Found #{@results.count} results for #{@search_type}: '#{@text}'"
            - if (@root != true)
              .row
                .col.s8{:style => "width: 130%;"}
                  %table.highlight
                    %thead
                      %tr
                        %th{"data-field" => "id"} File
                        %th{"data-field" => "name"} Name
                        %th{"data-field" => "price"} Type
                        %th{"data-field" => "foop"} Created
                        %th{"data-field" => "foop"} Privacy


                    - @results.each do |result|
                      %tr
                        %td
                          = link_to '#', :onclick => "$('#preview').attr('src','about:blank'); setTimeout(function() {$('#preview').attr('src','#{preview_url(result.id)}');}, 10); $('#viewModal1').modal(open); " do
                            = image_tag(thumbnail_url(result.id), :height => "50px")
                        %td
                          = result.name
                        %td
                          = result.type
                        %td
                          = DateTime.strptime(result.created_at).strftime("%B %d, %Y %l:%M %p")
                        %td
                          = result.audience


:javascript
  $(document).ready(function() {
    $('select').material_select();
  });
