.home
.col-md-3.col-sm-3.pull-left
  / SIDEBAR USERPIC
  .profile{:style => "margin: 1px 0"}
    .profile-sidebar{:style => "padding: 20px 0 120px 0; background: #fff"}
      .profile-userpic
        %img.img-responsive{:alt => "", :src => "http://keenthemes.com/preview/metronic/theme/assets/admin/pages/media/profile/profile_user.jpg", :style => "float: none; margin: 0 auto; width: 70%; height: 70%; -webkit-border-radius: 70% !important; -moz-border-radius: 70% !important; border-radius: 70% !important" }

      / END SIDEBAR USERPIC
      / SIDEBAR USER TITLE
      .profile-usertitle{:style => "text-align: center; margin-top: 20px;"}
        .profile-usertitle-name{:style => "color: #5a7391; font-size: 16px; font-weight: 600; margin-bottom: 7px"}
          Marcus Doe
        .profile-usertitle-job{:style => " text-transform: uppercase; color: #5b9bd1; font-size: 12px; font-weight: 600; margin-bottom: 15px;"}
          Customer
      / END SIDEBAR USER TITLE

    / SIDEBAR MENU
    .profile-usermenu
      %ul.nav.nav-pills.nav-stacked.appnavbtns
        %li
          %a{:href => "/dashboard"}
            %i.glyphicon.glyphicon-home
            My Vault
        %li.active{:style => "color: #5b9bd1; background-color: #f6f9fb; border-left: 2px solid #5b9bd1; margin-left: -2px"}
          %a{:href => "/resources"}
            %i.glyphicon.glyphicon-user
            Resources
        %li
          %a{:href => "/onboarding-tasks"}
            %i.glyphicon.glyphicon-ok
            Onboarding Tasks
        %li
          %a{:href => "#"}
            %i.glyphicon.glyphicon-flag
            Help
  / END MENU

.container
  .col-md-9.col-sm-9.pull-right{:style => "padding: 20px; background: #fff; min-height: 470px"}
    = simple_form_for(:search, html: {class: 'form-search'}, :url => "#", defaults: { label: false }) do |f|
      %h2.form-search-heading
        Search All Resources
      = f.input :query, placeholder: "training, onboarding, assets, etc...", input_html: { class: 'form-control', type: 'search' }
      = f.submit 'Search', class: 'btn btn-lg btn-primary btn-block', style: 'height: 44px;width: 180px; margin-top: -44px; margin-left: 405px;'
    .form-search
      %h2.form-search-heading{:style => "font-size: 120%"}
        Filter By:
      .btn-group.btn-group-justified{:style => "margin-bottom: 40px"}
        .btn-group{:role => "group"}
          %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button", :method => "post"}
            File Type
            %span.caret
          %ul.dropdown-menu
            %li
              = link_to "pdf", search_path(:filter_query => "pdf", :filter => "file_type"), :method => :post
            %li
              = link_to 'docx', search_path(:filter_query => "docx", :filter => "file_type"), :method => :post
            %li
              = link_to 'pptx', search_path(:filter_query => "pptx", :filter => "file_type"), :method => :post
            %li
              = link_to 'xlsx', search_path(:filter_query => "xlsx", :filter => "file_type"), :method => :post
        .btn-group{:role => "group"}
          %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
            Resource Type
            %span.caret
          %ul.dropdown-menu
            %li
              = link_to "Training Materials", search_path(:filter_query => "Training Materials"), :method => :post
            %li
              = link_to 'Onboarding Documents', search_path(:filter_query => "Onboarding Documents"), :method => :post
            %li
              = link_to 'Product Features', search_path(:filter_query => "Product Features"), :method => :post
        .btn-group{:role => "group"}
          %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
            Product
            %span.caret
          %ul.dropdown-menu
            %li
              = link_to "Box", search_path(:filter_query => "Box"), :method => :post
            %li
              = link_to 'OneDrive', search_path(:filter_query => "OneDrive"), :method => :post
            %li
              = link_to 'Egnyte', search_path(:filter_query => "Egnyte"), :method => :post
    / Print out results or display resource folders
    .results
      %h3
        .row
          %ol.breadcrumb{:style => "font-size: 85%"}
            %li
              = link_to @resource.name, resources_path
            - if !@subName.nil?
              %li.active
                = @subName
      - if @results.nil? or @results.count == 0
        / there were no results found for your search query
        %h2(style='text-align: center;')
          There were no results matching your search criteria.
      - else
        / either results were found for your search or were are in the resource root folder / sub-folder
        %h3
          / are we in the root folder?
          - if (@root == true)
            - @results.each do |folder|
              .row(style="margin-bottom: 10px;")
                .col-md-1
                  = image_tag("folder.png", height: '70px')
                .col-md-9
                  .filename{:style => "margin-top: 23px; margin-left: 10px"}
                    = link_to folder.name, sub_resource_path(folder.id)
          - if (!@text.nil?)
            = "Found #{@results.count} results for '#{@text}'"
        - if (@root != true)
          - @results.each do |result|
            .result
              .row
                .col-md-3
                  .thumb-image-border
                    = link_to view_doc_path(result.id) do
                      = image_tag(thumbnail_url(result.id), :height => "90px")
                .col-md-7
                  .row(style = 'margin-left: -25px;')
                    .col-md-3
                      .result-label
                        File Name:
                      .result-label
                        Date Created:
                      .result-label
                        Resource Type:
                      .result-label
                        Product:
                    .col-md-9
                      .result-data
                        = result.name
                      .result-data
                        = DateTime.strptime(result.created_at).strftime("%B %d, %Y %l:%M %p")
                      .result-data
                        = result.type
                      .result-data
                        = result.product
                .col-md-2
                  .btn-group.pull-right
                    %a.btn.btn-default.btn-md{href: view_doc_path(result.id), 'data-toggle'=>'tooltip', 'data-placement'=>'top', 'data-container'=>'body', 'title'=>'View'}
                      %span.glyphicon.glyphicon-eye-open
                    %a.btn.btn-default.btn-md{href: download_path(result.id), 'data-toggle'=>'tooltip', 'data-placement'=>'top', 'data-container'=>'body', 'title'=>'Download'}
                      %span.glyphicon.glyphicon-cloud-download
                  /= link_to image_tag('download.png', width: '40px', style: 'opacity: 0.65;'), result.download_link, :id => "download_link_#{result.id}"
.footer{:style=>"text-align: right; margin-top: 20px; font-size: 10px; font-weight: 600; color: #5a7391;"}
  = "Powered by DemoEng"
