-# All modals on this page

-# Modals for local upload
#loanModal.modal{:style => "z-index: 9999999 !important;"}
  .modal-content
    %h5{:style => "margin-bottom: 35px;"} Upload Your Loan Agreement
    .drop-area
      .row
        .col-md-12
          = simple_form_for(:vault, html:{class: 'dropzone', id:'my-dropzone'}, url: loan_upload_url("Loan Agreement - Signature Needed"))  {}
  .modal-footer
    %a.modal-action.modal-close.btn-flat{:href => "#!", :style => "text-decoration: none;"} Close

#w2Modal.modal{:style => "z-index: 9999999 !important;"}
  .modal-content
    %h5{:style => "margin-bottom: 35px;"} Upload Your W2 Form
    .drop-area
      .row
        .col-md-12
          = simple_form_for(:vault, html:{class: 'dropzone', id:'my-dropzone'}, url: loan_upload_url("W2 Form"))  {}
  .modal-footer
    %a.modal-action.modal-close.btn-flat{:href => "#!", :style => "text-decoration: none;"} Close

#taxModal.modal{:style => "z-index: 9999999 !important;"}
  .modal-content
    %h5{:style => "margin-bottom: 35px;"} Upload Your Tax Return
    .drop-area
      .row
        .col-md-12
          = simple_form_for(:vault, html:{class: 'dropzone', id:'my-dropzone'}, url: loan_upload_url("Tax Return"))  {}
  .modal-footer
    %a.modal-action.modal-close.btn-flat{:href => "#!", :style => "text-decoration: none;"} Close

-# Modals for upload suggestions
#loanVaultDocs.modal{:style => "z-index: 9999999 !important;"}
  .modal-content
    %h5{:style => "margin-bottom: 35px;"} Loan Agreement Suggestions
    .collection.with-header
      .collection-header
        Suggested items from My Vault
      - if !@searchFiles["Loan"].nil?
        - @searchFiles["Loan"].each do |f|
          %a.collection-item{:href => copy_from_vault_path(f.id, new_name: "Loan Agreement - Signature Needed", old_name: f.name), :style => "text-decoration: none;"}
            = f.name
  .modal-footer
    %a.modal-action.modal-close.btn-flat.modal-trigger.hide_below992{:href => "#loanModal", :style => "text-decoration: none;"}
      Upload New Loan Agreement
    %form.uploadbtn.hide_above992{:enctype => "multipart/form-data", method: 'POST', action: loan_post_path("Loan Agreement - Signature Needed"), class: 'form-horizontal', :style => "text-align: center"}
      .form-group
        %a.btn-flat.btn-file{:style => "text-decoration: none;"}
          Upload New Loan Agreement
          %input{type: 'file', name: 'file', :onChange => "form.submit()"}


#w2VaultDocs.modal{:style => "z-index: 9999999 !important;"}
  .modal-content
    %h5{:style => "margin-bottom: 35px;"} W2 Form Suggestions
    .collection.with-header
      .collection-header
        Suggested items from My Vault
      - if !@searchFiles["W2"].nil?
        - @searchFiles["W2"].each do |f|
          %a.collection-item{:href => copy_from_vault_path(f.id, new_name: "W2 Form", old_name: f.name), :style => "text-decoration: none;"}
            = f.name
  .modal-footer
    %a.modal-action.modal-close.btn-flat.modal-trigger.hide_below992{:href => "#w2Modal", :style => "text-decoration: none;"}
      Upload New W2 Form
    %form.uploadbtn.hide_above992{:enctype => "multipart/form-data", method: 'POST', action: loan_post_path("W2 Form"), class: 'form-horizontal', :style => "text-align: center"}
      .form-group
        %a.btn-flat.btn-file{:style => "text-decoration: none;"}
          Upload New W2 Form
          %input{type: 'file', name: 'file', :onChange => "form.submit()"}



#taxVaultDocs.modal{:style => "z-index: 9999999 !important;"}
  .modal-content
    %h5{:style => "margin-bottom: 35px;"} Tax Return Suggestions
    .collection.with-header
      .collection-header
        Suggested items from My Vault
      - if !@searchFiles["Tax"].nil?
        - @searchFiles["Tax"].each do |f|
          %a.collection-item{:href => copy_from_vault_path(f.id, new_name: "Tax Return", old_name: f.name), :style => "text-decoration: none;"}
            = f.name
  .modal-footer
    %a.modal-action.modal-close.btn-flat.modal-trigger.hide_below992{:href => "#taxModal", :style => "text-decoration: none;"}
      Upload New Tax Return
    %form.uploadbtn.hide_above992{:enctype => "multipart/form-data", method: 'POST', action: loan_post_path("Tax Return"), class: 'form-horizontal', :style => "text-align: center"}
      .form-group
        %a.btn-flat.btn-file{:style => "text-decoration: none;"}
          Upload New Tax Return
          %input{type: 'file', name: 'file', :onChange => "form.submit()"}
