%table{:style => "margin-top: 45px; margin-left: 30px"}
  %thead
    %tr
      %th Workflow Name
      %th Date Submitted
      %th QM Status
      %th DM Status
      %th CA Status
  %tbody
  -@workflowItems.each do |result|
    %tr
      %td
        = result.name
      %td
        = result.content_created_at[0,10]
      %td
        = result.qualityManagerApproval
      %td
        = result.documentManagerApproval
      %td
        = result.customerApproverApproval
