
%h3
  Set header config options:

%section#config-form
  %form{:action => save_config_path, :method => "post", :role => "form"}
    .form-group.col-md-7
      %label.label-div{:for => "message"} Home Page Message
      %input.form-control#message{:type => "text", :name => "message", :placeholder => session[:home_message].nil? ? "The Box Platform" : session[:home_message]}

      %label.label-div{:for => "logo"} Company Logo URL
      %input.form-control#logo{:type => "text", :name => "logo", :placeholder => session[:logo].nil? ? "logo.png" : session[:logo]}

      %label.label-div{:for => "navbar_color"} Navbar Background Color
      %input.form-control#navbar_color{:type => "text", :name => "navbar_color", :placeholder => session[:navbar_color].nil? ? "FFFFFF" : session[:navbar_color][1..-1]}

      %label.label-div{:for => "background"} Background Image URL
      %input.form-control#background{:type => "text", :name => "background", :placeholder => session[:background].nil? ? "background.jpg" : session[:background]}

      %label.label-div{:for => "tab_select"} Active Feature Tabs
      %label.checkbox
        %input#vault{:type => "checkbox", :name => "vault", :checked => true, :disabled => "on"} My Vault
      %label.checkbox
        %input#resources{:type => "checkbox", :name => "resources", :checked => session[:resources] == 'on'} Resources
      %label.checkbox
        %input#onbaording{:type => "checkbox", :name => "onboarding", :checked => session[:onboarding] == 'on'} Onboarding Tasks
      %label.checkbox
        %input#catalog{:type => "checkbox", :name => "catalog", :checked => session[:catalog] == 'on'} Product Catalog
      %label.checkbox
        %input#credentialing{:type => "checkbox", :name => "medical_credentialing", :checked => session[:medical_credentialing] == 'on'} Medical Credentialing (Beta)
      %label.checkbox
        %input#loan_docs{:type => "checkbox", :name => "loan_docs", :checked => session[:loan_docs] == 'on'} Loan Documents (Beta)


    .col-md-5.pull-right
      %a.btn.btn-primary.btn-lg.pull-right{href: "https://docs.google.com/forms/d/12H3Djqazr__eIH15bXEShxHGGqw20ljjMnh28LWmm_Y/viewform"}
        Demo Feedback

    .form-group.col-md-12.item
      %input.btn.btn-default{:type => "submit", :value => "Save"}

%container.col-md-12{:role => "group"}

  %form.item{:action => reset_config_path, :method => "get"}
    %button.btn.btn-default{:type => "submit", :type => "form"} Reset
  %form.item{:action => "/dashboard", :method => "get", :role => "form"}
    %input.btn.btn-default{:type => "submit", :value => "Main Page"}

%section
  %h3
    %table.table.table-striped
      %colgroup
        %col.col-md-4
        %col.col-md-7
      %thead
        %tr
          %th Attribute Name
          %th Attribute Value
      %tbody
        %tr
          %td Company Name:
          %td
            = session[:home_message]
        %tr
          %td Logo:
          %td
            %img{:src => session[:logo], :style => "max-height:100px"}
        %tr
          %td Navbar Background Color:
          %td
            = session[:navbar_color]
        %tr
          %td Active Feature Tabs
          %td
            = "My Vault"
            - if (session[:resources] == 'on')
              = ", Resources"
            - if (session[:onboarding] == 'on')
              = ", Onboarding Tasks"
            - if (session[:catalog] == 'on')
              = ", Product Catalog"
            - if (session[:medical_credentialing] == 'on')
              = ", Medical Credentialing"
            - if (session[:loan_docs] == 'on')
              = ", Loan Documents"
        %tr
          %td Encoded Configuration URL:
          %td
            = session[:config_url]
