.container
  = render 'layouts/sidenav'
  .row
    .index-banner.section.no-pad-bot
  .row
    .col.m12.l10.push-l2{:style => "margin-top: 25px;"}
      // Title
      .col.s12
        %h3.thin{:style => "margin-top: 40px; font-size: 28px; letter-spacing: 1.5px; text-color: #002557;"}
          %i.material-icons.prefix{:style => "font-size: 28px;"} email
          = alt_text("Message Center")

      -# Messages
      .col.s3.message-tabs
        %a.btn.white.black-text{:href => "/compose-message"} Compose

        .row
          .col.s9
            %h6.col.s9 Inbox
            %h6.col.s2 0
          .col.s9.sent-selected
            %h6.col.s9 Sent
            %h6.col.s2
              = @files.size
          .col.s9
            %h6.col.s9 Deleted
            %h6.col.s2 0

      -# Inbox Display
      .col.s9{:style => "margin-top: 20px"}
        %table
          %thead
            %h5 Messages
            %tr
              %th Subject
              %th Message
              %th
          %tbody
            - if @files.size == 0
              %tr
                %td
                  %span
                    %i.material-icons error
                    No current messages exist in this folder
            - else
              %tr
                %td
                  = @message.name
                %td
                  = @message.description
                %td
                  %a.waves-effect.btn.white.black-text{:href => "/delete-message/" + @message.id, :style => "text-decoration: none"} Delete

      .col.s5{:style => "margin-top: 20px"}
        %table{:style => "margin-bottom: 50px"}
          %thead
            %h5 Attachments
          %tbody
            - if @files.size == 0
              %tr
                %td
                  %span
                    %i.material-icons error
                    No current attachments exist in this folder
            - else
              - @files.each do |file|
                %tr
                  %td
                    %img{:alt => "thumbnail", :src => "/thumbnail/" + file.id, :width => "42", :height => "42"}
                  %td
                    %a{:href => "/preview/" + file.id, :style => "text-decoration: none; color: #333333"}
                      = file.name
        %div
          %a{:href => "/messaging-system", :style => "text-decoration: none; color: #333333"}
            Back to messages
