.container
  = render 'layouts/sidenav'
  .row
    .index-banner.section.no-pad-bot
  .row
    .col.m12.l10.push-l2{:style => "margin-top: 25px;"}
      // Title
      .col.s12
        %h3.thin{:style => "margin-top: 40px; font-size: 28px; letter-spacing: 1.5px; text-color: #002557;"}
          %i.material-icons.prefix{:style => "font-size: 28px;"} repeat
          = alt_text("Medical Supplies")
        %h6.caption.thin{:style => "font-size: 16px;"}
          Browse and order medical supplies
      -# product list
      .col.s8.push-s2{:style => "margin-top: 10px;"}
        .flash
          = render partial: "shared/flash_messages", flash: flash
      .col.s8
        .col.s12
          .col.s6{:style => "margin-bottom: 20px"}
            %ul.tabs{:style => "background-color: transparent; width: 80% !important;"}
              %li.tab{:style => "font-size: 12px !important;"}
                %a{:href => "#product-supplies", :class => "#{'active' if @currentPage == 'products'}"}
                  Products
              %li.tab{:style => "font-size: 12px !important;"}
                %a{:href => "#order-history", :class => "#{'active' if @currentPage == 'orders'}"}
                  Order History
        %div#product-supplies
          - @supplies.each do |key, value|
            .col.l6.s12
              .card
                .card-content
                  %div.card-title.activator.grey-text.text-darken-4{:style => "font-size: 18px; line-height: 25px; height: 40px"}
                    = value[:folderName]
                .card-image.waves-effect.waves-block.waves-light
                  %img.activator{:src => "#{thumbnail_url(value[:image].id)}"}
                .card-content
                  -# %div.card-title.activator.grey-text.text-darken-4
                  -#   = value[:folderName]

                  - value[:sheets].each do |sheet|
                    %a{"data-lity" => "", :href => preview_url(sheet.id)}
                      = sheet.name.split('.').first
                  .card-action{:style => "padding: 5px 20px 5px 20px; margin-top: 10px"}
                    .row{:style => "margin-bottom: 0px"}
                      .col.s4.push-s8
                        %label{:for => "quantity-#{key}"} Quantity
                        %input{:id => "quantity-#{key}", :max => "300", :min => "0",
                                       :name => "#{value[:folderName]}", :step => "10",
                                       :type => "number", :value => "0",
                                       :style => "margin-bottom: -20px"}
        %div#order-history
          - if @orderHistory.length == 0
            %h6{:style => "margin-top: 10px"}
              You have not yet submitted an order
          - else
            %table.highlight.order_history{:style => "margin-top: 20px"}
              %thead
                %tr
                  %th
                  %th{"data-field" => "id"} Order ID
                  %th{"data-field" => "id"} Date Submitted
                  %th{"data-field" => "name"} Status
              - @orderHistory.each do |item|
                %tr
                  %td{:style => "cursor:pointer", "data-lity" => "", :href => preview_url(item.id), :class => "tooltipped", 'data-position'=>"left", 'data-delay'=>"50", 'data-tooltip'=>"View"}
                    = image_tag(thumbnail_url(item.id), width: '40px')
                  %td
                    = rand(10 ** 10)
                  %td
                    - if item.name.include? "SIGNED"
                      = DateTime.strptime(item.created_at).strftime("%B %d, %Y %l:%M %p")
                    - else
                      NA
                  %td
                    - if item.name.include? "SIGNED"
                      Submitted
                    - else
                      Pending Signature
                      %a.btn.pull-right.white.black-text{:href => order_docusign_path(item.id), :style => "text-decoration: none"} Sign

      -# cart
      .col.s4#cart-container
        %h5
          Supply Cart
        %form.form-horizontal{:role => "form", :method => "post", :action => order_supplies_path}
          #cart
            %table.table
              %thead
                %tr
                  %th Product
                  %th Quantity

%p{:style=>"text-align: right; font-size: 10px;"}
  = link_to "reset", product_supply_reset_path

#floating-cart-div

:javascript

  $(document).ready(function(){
    $('ul.tabs').tabs();
  });

  // update cart quantity values on change input
  $(document).on('change', 'input', function() {

    var cartItems = [];

    inputs = document.getElementsByTagName('input');
    for (i = 0; i < inputs.length; ++i) {
      if (inputs[i].value > 0 && inputs[i].id) {
        cartItems.push({'name': inputs[i].name,
                          'id': inputs[i].id,
                          'value': inputs[i].value});
      }
    }

    $.ajax({
      type: "POST",
      url: '/update-cart',
      data: {"cart": cartItems},
      success: function (data) {
        $("#cart").html(data);
      },
      error: function(xhr, textStatus, errorThrown) {
        alert(xhr.responseText);
      }
    });
  });


  $(document).ready(function() {
    // Floating cart scroll
    $(window).scroll(function(){
    $("#cart-container").stop().animate({"marginTop": ($(window).scrollTop()) + "px", "marginLeft":($(window).scrollLeft()) + "px", "duration": "5000"});
    });
    var totaltext = "";
    $("#floating-cart-div").html(totaltext);
  });
