

.container
  = render 'layouts/bluecare_nav'

.row
  .col.m12.l10.push-l1{:style => "margin-top: 100px;"}
    .card-panel.white
      %i.material-icons.prefix.blue-text{:style => "font-size: 26px; margin-top: 15px;"} new_releases
      %span{:style => "margin-left: 30px; font-size: 18px;"}
        You have a new document to be signed: New Patient Release Form
      %form{:method => "get", :action => bluecare_loan_docusign_path('92693361138')}
        %button.waves-effect.btn.blue.white-text{:type => "submit", :style => "font-size: 10px; margin-left: 750px; margin-top: -40px;"}
          View and Sign

.row
  .col.m12.l10.push-l1
    // Title
    %h3.thin{:style => "margin-top: 40px; font-size: 28px; letter-spacing: 1.5px; text-color: #002557;"}
      %i.material-icons.prefix{:style => "font-size: 28px;"} verified_user
      = alt_text("Breast Cancer Community")
    %h6{:style => "margin-top: 40px; font-size: 24px; letter-spacing: 1.5px; text-color: #002557;"}
      Bookshelf
    %h6.caption.thin{:style => "font-size: 16px;"}
      We've selected some literature for you. More documents will be added to this bookshelf as you progress with your care.

    // Tabs
    .col.l5.s12#claim-tabs{:style => "margin-top: 5px; margin-left: -15px", "data-intro" => "These tabs represent folders in Box. Sharing a file below will make an api call to move to the 'Shared Files' folder where Company Employee, a Box managed user, is a collaborator (Editor)", "data-position" => "left"}
      %ul.tabs#claim-tabs1{:style => "background-color: transparent; width: 80% !important;"}
        %li.tab{:style => "font-size: 12px !important;"}
          %a{:href => "#myfiles", :class => "#{'active' if @bookshelf_folder.id == @currentFolder}"}
            = alt_text("Community Content")
    .col.m12.l12{:style => "margin-top: -20px;"}
      %hr

- @bookshelf_files.each_slice(4) do |book_row|
  .row
    - bg_colors = ["background-color: #8dc0b1; padding-right: 45px; padding-left: 45px; padding-top: 20px","background-color: #5061b8; padding-right: 45px; padding-left: 45px; padding-top: 20px;","background-color: #5093b8; padding-right: 45px; padding-left: 45px; padding-top: 20px;","background-color: #d55353; padding-right: 45px; padding-left: 45px; padding-top: 20px;"]
    - book_row.each_with_index do |f,i|
      .col.s1.push-l1{:style => "margin-right: 140px;"}
        - bg_style = bg_colors[i]
        .item.center{:style=>bg_style, "data-lity" => "", :href => preview_url(f.id), :class => "tooltipped", 'data-position'=>"left", 'data-delay'=>"50", 'data-tooltip'=>"View"}
          -# = link_to view_doc_path(f.id, folder: @bookshelf_files.id) do
          = image_tag(thumbnail_url(f.id), width: '125px')
          .title-backdrop
          .title-container
            .title
              = f.name.split('.').first

.row
  .col.m12.l10.push-l1
    %h6{:style => "margin-top: 40px; font-size: 24px; letter-spacing: 1.5px; text-color: #002557;"}
      Your Documents
      // Tab
    .col.l5.s12#claim-tabs{:style => "margin-top: 5px; margin-left: -15px", "data-intro" => "These tabs represent folders in Box. Sharing a file below will make an api call to move to the 'Shared Files' folder where Company Employee, a Box managed user, is a collaborator (Editor)", "data-position" => "left"}
      %ul.tabs#claim-tabs1{:style => "background-color: transparent; width: 80% !important;"}
        %li.tab{:style => "font-size: 12px !important;"}
          %a{:href => "#myfiles", :class => "#{'active' if @bookshelf_folder.id == @currentFolder}"}
            = alt_text("Signed Documents")
        %li.tab{:style => "font-size: 12px !important;"}
          %a{:href => "#myfiles", :class => "#{'active' if @bookshelf_folder.id == @currentFolder}"}
            = alt_text("Shared Documents")

    .col.m12.l12{:style => "margin-top: -20px;"}
      %hr

- @signedDocumentsItems.each_slice(4) do |signature_row|
  .row
    - bg_colors = ["background-color: #8dc0b1; padding-right: 45px; padding-left: 45px; padding-top: 20px","background-color: #5061b8; padding-right: 45px; padding-left: 45px; padding-top: 20px;","background-color: #5093b8; padding-right: 45px; padding-left: 45px; padding-top: 20px;","background-color: #d55353; padding-right: 45px; padding-left: 45px; padding-top: 20px;"]
    - signature_row.each_with_index do |s,i|
      .col.s1.push-l1{:style => "margin-right: 140px;"}
        - bg_style = bg_colors[i]
        .item.center{:style=>bg_style, "data-lity" => "", :href => preview_url(s.id), :class => "tooltipped", 'data-position'=>"left", 'data-delay'=>"50", 'data-tooltip'=>"View"}
          -# = link_to view_doc_path(f.id, folder: @bookshelf_files.id) do
          = image_tag(thumbnail_url(s.id), width: '125px')
          .title-backdrop
          .title-container
            .title
              = s.name.split('.').first

%p{:style=>"text-align: right; font-size: 10px;"}
  = link_to "reset", reset_bluecare_path, {:style => "text-decoration: none; z-index: 9999999;"}
