.row
  .col.s2.push-s10{:style => "margin-top:-20px;"}
    %h7
      Step 3 of 3
  .col.s8.push-s3{:style => "margin-top: 20px;"}
    .flash
      = render partial: "shared/flash_messages", flash: flash
.col.s10.push-s2
  %h6{:style => "margin-bottom: 40px"}
    Wait for credentialing specialist to review & approve:
.col.s8.push-s3
  .panel.panel-default{:style => "margin-bottom: 0px"}
    .panel-heading
      %h6{:style => "height: 130%"}
        Shared Medical Credential Documents
    %table.highlight
      %thead
        %tr
          %th File
          %th Name
          %th.hidden-xs.hidden-sm Date Modified
          %th Actions
        %tbody
          / list file contents
          - @medFiles.each do |f|
            %tr
              %td
                = link_to view_doc_path(f.id) do
                  = image_tag(thumbnail_url(f.id), width: '30px')
              %td
                %span{:style => "inline"}
                  = f.name
              %td.hidden-xs.hidden-sm
                = DateTime.strptime(f.modified_at).strftime("%B %d, %Y %l:%M %p")
              %td
                / file action options
                -# .btn-group
                -#   %a.btn.btn-default.btn-md{href: view_doc_path(f.id), 'data-toggle'=>'tooltip', 'data-placement'=>'top', 'data-container'=>'body', 'title'=>'View'}
                -#     %span.glyphicon.glyphicon-eye-open
                -#   %a.btn.btn-default.btn-md{href: download_path(f.id), 'data-toggle'=>'tooltip', 'data-placement'=>'top', 'data-container'=>'body', 'title'=>'Download'}
                -#     %span.glyphicon.glyphicon-cloud-download

                .btn-group
                  %a.btn.white.tooltipped{href: view_doc_path(f.id), 'data-position'=>"top", 'data-delay'=>"50", 'data-tooltip'=>"View", :style => "padding-right: 9px; padding-left: 9px;"}
                    %span.glyphicon.glyphicon-eye-open{:style => "top: 5px; color: #263238"}
                  %a.btn.white.tooltipped{href: download_path(f.id), 'data-position'=>"top", 'data-delay'=>"50", 'data-tooltip'=>"Download", :style => "padding-right: 9px; padding-left: 9px;"}
                    %span.glyphicon.glyphicon-download{:style => "top: 5px; color: #263238"}
