
#index-banner.section.no-pad-bot
  .container
    %h3.thin{:style => "margin-left: 165px; margin-top: 40px; font-size: 28px; letter-spacing: 1.5px; text-color: #002557;"}
      %span.glyphicon.glyphicon-plus{:style => "font-size: 22px;"}
      Credentialing Specialist Requests
    %h6.caption.thin{:style => "margin-left: 165px; font-size: 16px;"}
      Review and approve the submission(s) below


.container
  = render 'layouts/sidenav'
  .row
    .col.s8.push-s3{:style => "margin-top: 20px;"}
      .flash
        = render partial: "shared/flash_messages", flash: flash
    .col.s10.push-s2{:style => "padding: 0px; min-height: 470px"}
      .col.s12
        / list file contents
        - if @empty == true
          %h6
            There are no open requests at this time
        - @medicalArray.each do |name, items|
          - if items.size >= 1
            .panel.panel-default{:style => "margin-bottom: 60px;"}
              .panel-heading
                .pull-right.h4
                  %form{:method => "get", :action => approve_request_path(items.first.parent.id)}
                    %button.waves-effect.btn.white.black-text{:type => "submit"}
                      Approve
                %h5 Medical Credentialing Request
                %h7
                  = "#{name.split(" ").first}"
                -# .sub-title
                -#   = "Medical documents vault shared with medical credentialist"
              %table.highlight
                %thead
                  %tr
                    %th File
                    %th Name
                    %th.hidden-xs.hidden-sm Date Modified
                    %th Actions
                  %tbody
                    - items.each do |f|
                      %tr
                        %td
                          = link_to view_doc_path(f.id) do
                            = image_tag(thumbnail_url(f.id), width: '30px')
                        %td
                          %span{:style => "inline"}
                            = f.name
                        %td.hidden-xs.hidden-sm
                          = DateTime.strptime(f.modified_at).strftime("%B %d, %Y %l:%M %p")
                        %td
                          / file action options
                          .btn-group
                            %a.btn.white.tooltipped{href: view_doc_path(f.id), 'data-position'=>"top", 'data-delay'=>"50", 'data-tooltip'=>"View", :style => "padding-right: 9px; padding-left: 9px;"}
                              %span.glyphicon.glyphicon-eye-open{:style => "top: 5px; color: #263238"}
                            %a.btn.white.tooltipped{href: download_path(f.id), 'data-position'=>"top", 'data-delay'=>"50", 'data-tooltip'=>"Download", :style => "padding-right: 9px; padding-left: 9px;"}
                              %span.glyphicon.glyphicon-download{:style => "top: 5px; color: #263238"}
