.home
  = render 'layouts/sidenav'
.container
  .col-md-9.col-sm-9.pull-right
    .flash
      = render partial: "shared/flash_messages", flash: flash
  .col-md-9.col-sm-9.pull-right{:style => "padding: 20px; background: #fff; min-height: 470px", :class => "myvaulttable"}
    .page-header{:style => "margin-top: 0px"}
      -# %h4
      -#   Progress
      -# .progress
      -#   .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "#{session[:progress]}%", :role => "progressbar", :style => "width: #{session[:progress]}%;"}
      -#     = "#{session[:progress]}%"
      %h1 Credentialing Specialist Requests
      %p Review and approve the submissions below
    .col-md-12.col-sm-12
      / list file contents
      - if @medicalArray.size == 0
        %h4
          There are no open requests at this time
      - @medicalArray.each do |name, items|
        - if items.size >= 1
          .panel.panel-default{:style => "margin-bottom: 20px"}
            .panel-heading
              .pull-right.h4
                %form{:method => "get", :action => approve_request_path(items.first.parent.id)}
                  %button.btn.btn-primary.btn-lg{:type => "submit"}
                    Approve
              %h2 Medical Credentialing Request
              %h4
                = "#{name.split(" ").first}"
              -# .sub-title
              -#   = "Medical documents vault shared with medical credentialist"
            %table.table
              %thead
                %tr
                  %th File
                  %th Name
                  %th.hidden-xs.hidden-sm Date Modified
                  %th Actions
                %tbody
                  - items.each do |f|
                    %tr
                      %td
                        = link_to view_doc_path(f.id) do
                          = image_tag(thumbnail_url(f.id), width: '30px')
                      %td
                        %span{:style => "inline"}
                          = f.name
                      %td.hidden-xs.hidden-sm
                        = DateTime.strptime(f.modified_at).strftime("%B %d, %Y %l:%M %p")
                      %td
                        / file action options
                        .btn-group
                          %a.btn.btn-default.btn-md{href: view_doc_path(f.id), 'data-toggle'=>'tooltip', 'data-placement'=>'top', 'data-container'=>'body', 'title'=>'View'}
                            %span.glyphicon.glyphicon-eye-open
                          %a.btn.btn-default.btn-md{href: download_path(f.id), 'data-toggle'=>'tooltip', 'data-placement'=>'top', 'data-container'=>'body', 'title'=>'Download'}
                            %span.glyphicon.glyphicon-cloud-download
