.home
  = render 'layouts/sidenav'
.container
  .col-md-9.col-sm-9.pull-right
    .flash
      = render partial: "shared/flash_messages", flash: flash
  .col-md-9.col-sm-9.pull-right{:style => "padding: 20px; background: #fff; min-height: 470px", :class => "myvaulttable"}
    .page-header{:style => "margin-top: 0px"}
      -# %h4
      -#   Progress
      -# .progress
      -#   .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "#{session[:progress]}%", :role => "progressbar", :style => "width: #{session[:progress]}%;"}
      -#     = "#{session[:progress]}%"
      %h1 Medical Credentialing Application
      %p Please complete the medical credentialing process
    .col-md-12.col-sm-12
      .well.well-md
        .progress
          .progress-bar.progress-bar-info.progress-bar-striped{:role => "progressbar", :style => "width:25%"}
            = session[:progress] == 0 ? "Step 1" : ""
          .progress-bar.progress-bar-info.progress-bar-striped{:class => "#{'progress-bar-todo' if session[:progress] < 1}",
                                          :role => "progressbar", :style => "width:25%"}
            = session[:progress] == 1 ? "Step 2" : ""
          .progress-bar.progress-bar-info.progress-bar-striped{:class => "#{'progress-bar-todo' if session[:progress] < 2}",
                                          :role => "progressbar", :style => "width:25%"}
            = session[:progress] == 2 ? "Step 3" : ""
          .progress-bar.progress-bar-info.progress-bar-striped{:class => "#{'progress-bar-todo' if session[:progress] < 3}",
                                          :role => "progressbar", :style => "width:25%"}
        .h4
          = @message
    - if (@status == "toFill")
      .col-md-12.col-sm-12
        %h3
          Fill out the information below:
        %form.form-horizontal{:role => "form", :method => "post", :action => medical_submit_path}
          .form-group
            %label.control-label.col-sm-3{:for => "name"} Full Name:
            .col-sm-6
              %input#name.form-control{:type => "text", :placeholder => "Marcus Doe", :name => "name"}
          .form-group
            %label.control-label.col-sm-3{:for => "bday"} Date of Birth:
            .col-sm-6
              %input#date.form-control{:type => "date", :name => "date"}
          .form-group
            %label.control-label.col-sm-3{:for => "id"} Medical License Number:
            .col-sm-6
              %input#id.form-control{:placeholder => "123456789", :type => "text", :name => "id"}
          .form-group
            %label.control-label.col-sm-3{:for => "degree"} Specialty:
            .col-sm-6
              %select#specialty.form-control{:placeholder => "Specialty", :type => "text", :name => "specialty"}
                %option Anesthesiology
                %option Cardiology
                %option Chiropractor
                %option Dermatology
                %option Hematology
                %option Neurology
                %option Pediatrics
                %option Radiology
          .form-group
            %label.control-label.col-sm-3{:for => "degree"} Degree Type:
            .col-sm-6
              %select#degree.form-control{:placeholder => "Degree", :type => "text", :name => "degree"}
                %option MD
                %option DO
          %input{:name => "formSubmit", :type => "hidden", :value => "true"}
          .form-group
            .col-sm-offset-3.col-sm-6
              %button.btn.btn-primary.btn-md{:type => "submit"} Submit for Approval
    - elsif (@status == "toUpload")
      .col-md-12.col-sm-12
        %h3
          Upload Supporting Medical Credential Documents
        .drop-area
          .row
            .col-md-12
              = simple_form_for(:medical, html:{class: 'dropzone', id:'my-dropzone'}, url: med_upload_url(@medFolder.id))  {}
        %form.form-horizontal{:role => "form", :method => "get", :action => medical_upload_path}
          .form-group
            .col-sm-6
              %button.btn.btn-primary.btn-lg{:type => "submit"} Submit
    - elsif (@status == "pendingApproval")
      .col-md-12.col-sm-12
        .panel.panel-default{:style => "margin-bottom: 0px"}
          .panel-heading
            %h2 Shared Medical Credential Documents
            .sub-title
              = "Medical documents vault shared with credentialing specialist"
          %table.table
            %thead
              %tr
                %th File
                %th Name
                %th.hidden-xs.hidden-sm Date Modified
                %th Actions
              %tbody
                / list file contents
                - @medFiles.each do |f|
                  %tr
                    %td
                      = link_to view_doc_path(f.id) do
                        = image_tag(thumbnail_url(f.id), width: '30px')
                    %td
                      %span{:style => "inline"}
                        = f.name
                    %td.hidden-xs.hidden-sm
                      = DateTime.strptime(f.modified_at).strftime("%B %d, %Y %l:%M %p")
                    %td
                      / file action options
                      .btn-group
                        %a.btn.btn-default.btn-md{href: view_doc_path(f.id), 'data-toggle'=>'tooltip', 'data-placement'=>'top', 'data-container'=>'body', 'title'=>'View'}
                          %span.glyphicon.glyphicon-eye-open
                        %a.btn.btn-default.btn-md{href: download_path(f.id), 'data-toggle'=>'tooltip', 'data-placement'=>'top', 'data-container'=>'body', 'title'=>'Download'}
                          %span.glyphicon.glyphicon-cloud-download
    - elsif (session[:progress] == 3)
      .col-md-12.col-sm-12
        .panel.panel-default{:style => "margin-bottom: 0px"}
          .panel-heading
            %h2 Approved Medical Credential Documents
          %table.table
            %thead
              %tr
                %th File
                %th Name
                %th.hidden-xs.hidden-sm Date Modified
                %th Actions
              %tbody
                / list file contents
                - @medFiles.each do |f|
                  %tr
                    %td
                      = link_to view_doc_path(f.id) do
                        = image_tag(thumbnail_url(f.id), width: '30px')
                    %td
                      %span{:style => "inline"}
                        = f.name
                    %td.hidden-xs.hidden-sm
                      = DateTime.strptime(f.modified_at).strftime("%B %d, %Y %l:%M %p")
                    %td
                      / file action options
                      .btn-group
                        %a.btn.btn-default.btn-md{href: view_doc_path(f.id), 'data-toggle'=>'tooltip', 'data-placement'=>'top', 'data-container'=>'body', 'title'=>'View'}
                          %span.glyphicon.glyphicon-eye-open
                        %a.btn.btn-default.btn-md{href: download_path(f.id), 'data-toggle'=>'tooltip', 'data-placement'=>'top', 'data-container'=>'body', 'title'=>'Download'}
                          %span.glyphicon.glyphicon-cloud-download
.footer{:style=>"text-align: right; font-size: 10px;"}
  = link_to "Reset Workflow", reset_medical_flow_path


:javascript
  Dropzone.options.myDropzone = {
    init: function() {
      this.on("queuecomplete", function(file) {
        // setTimeout(function() {location.reload();}, 2000);
      });
    }
  };
