
#index-banner.section.no-pad-bot
  .container
    %h3.thin{:style => "margin-left: 165px; margin-top: 40px; font-size: 28px; letter-spacing: 1.5px; text-color: #002557;"}
      %i.material-icons.prefix{:style => "font-size: 28px;"} spellcheck
      Upload & Sign
    %h6.caption.thin{:style => "margin-left: 165px; font-size: 16px;"}
      Upload and e-sign documents
    .col.s5{:style => "margin-top: -45px; margin-left: 750px;"}
      %ul.tabs{:style => "background-color: transparent; width: 80% !important;"}
        %li.tab{:style => "font-size: 12px !important;"}
          %a.active{:href => "#pendingSignature"}
            Pending Signature
        %li.tab{:style => "font-size: 12px !important;"}
          %a{:href => "#signed"}
            Signed

.container
  = render 'layouts/sidenav'
  #pendingSignature
    .row
      .col.s2.push-s10.h6{:style => "margin-top: 40px;"}
        %a.waves-effect.btn.white.black-text.modal-trigger{:href => "#pendingModal", :style => "font-color: #263238 !important; text-decoration: none;"} Upload
    .row{:style => "margin-top: 20px;"}
      .flash.col.s7.push-s3
        = render partial: "shared/flash_messages", flash: flash
      .col.s10.push-s2
        - if (@pendingFiles.size > 0)
          %table.highlight
            %thead
              %tr
                %th{"data-field" => "id"} File
                %th{"data-field" => "name"} Name
                %th{"data-field" => "foop"} Actions

              / list file contents
              - @pendingFiles.each do |f|
                %tr
                  %td
                    = link_to view_doc_path(f.id) do
                      = image_tag(thumbnail_url(f.id), width: '30px')
                  %td
                    %span{:style => "inline"}
                      = f.name
                  / file action options
                  %td
                    .btn-group
                      %a.btn.white.tooltipped{href: view_doc_path(f.id), 'data-position'=>"top", 'data-delay'=>"50", 'data-tooltip'=>"View", :style => "padding-right: 9px; padding-left: 9px;"}
                        %span.glyphicon.glyphicon-eye-open{:style => "top: 5px; color: #263238"}
        - else
          .col.push-s3
            .h5{:style => "margin-top: 35px;"}
              You have no documents pending signature at this time
  #signed
    .row
      .col.s2.push-s10.h6{:style => "margin-top: 40px;"}
        %a.waves-effect.btn.white.black-text.modal-trigger{:href => "#signedModal", :style => "font-color: #263238 !important; text-decoration: none;"} Upload
    .row{:style => "margin-top: 20px;"}
      -# = render 'dashboard/sharedfiles'

-#
-# #myModal.modal.fade{:role => "dialog"}
-#   .modal-dialog.modal-md
-#     .modal-content
-#       .modal-header-primary
-#         %button.close{"data-dismiss" => "modal", :type => "button"} &times;
-#         %h4.modal-title
-#           Upload a File
-#       .modal-body
-#         .drop-area
-#           .row
-#             .col-md-12
-#               = simple_form_for(:vault, html:{class: 'dropzone', id:'my-dropzone'}, url: sign_upload_url(@pendingFolder.id))  {}
-#       .modal-footer
-#         %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
-#
-# .modal.fade#viewModal{tabindex:"-1", role:"dialog", "aria-labelledby" => "myModalLabel", "aria-hidden" => "true"}
-#   .modal-dialog{:style => "height: 800px;	width: 960px;	background-color: white"}
-#     .modal-body(style="overflow: hidden; height: 730px;	width: 960px")
-#       %iframe{:id => 'preview', :width => '100%', :height => '100%', :frameBorder => '0', :allowfullscreen => 'allowfullscreen'}
-#     .modal-footer
-#       %button{type:"button", class:"btn btn-default btn-small", "data-dismiss"=>"modal", :style => "font-size: 100%"}
-#         Close
-#
-# .home
-# .container
-#   = render 'layouts/sidenav'
-#   .col-md-9.col-sm-8.col-xs-9.pull-right
-#     .flash
-#       = render partial: "shared/flash_messages", flash: flash
-#   .col-md-9.col-sm-8.col-xs-9.pull-right{:style => "padding: 20px; background: #fff;", :class => "myvaulttable"}
-#     .panel.panel-default{:style => "margin-bottom: 0px"}
-#       .panel-heading
-#         .pull-right.h4
-#           %button.btn.btn-primary.btn-lg{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"} Upload
-#         %h2 Upload & Sign
-#         .sub-title
-#           = "Upload and e-sign necessary documents"
-#       %ul.nav.nav-tabs{:style => "margin-top: 30px; margin-left: 5px", :role => "tablist"}
-#         %li.active{:role => "presentation"}
-#           %a{:href => "#pending"} Pending Signature
-#         %li{:role => "presentation"}
-#           %a{:href => "#signed"} Signed
-#
-#       .tab-content{:style => "margin-left: 10px"}
-#         #pending.tab-pane.fade.in.active
-#           - if (@pendingFiles.size > 0)
-#             %table.table{:style => "margin-top: 10px"}
-#               %thead
-#                 %tr
-#                   %th File
-#                   %th Name
-#                   %th Actions
-#                 %tbody
-#                   / list file contents
-#                   - @pendingFiles.each do |f|
-#                     %tr
-#                       %td
-#                         = link_to '#', :onclick => "$('#preview').attr('src','about:blank'); setTimeout(function() {$('#preview').attr('src','#{preview_url(f.id)}');}, 10); $('#viewModal').modal(open); " do
-#                           = image_tag(thumbnail_url(f.id), :height => "35px")
-#                       %td
-#                         %span{:style => "inline"}
-#                           = f.name
-#                       %td
-#                         / file action options
-#                         .btn-group
-#                           %a.btn.btn-default.btn-md{:onclick => "$('#preview').attr('src','about:blank'); setTimeout(function() {$('#preview').attr('src','#{preview_url(f.id)}');}, 10); $('#viewModal').modal(open); ",'data-toggle'=>'tooltip', 'data-placement'=>'top', 'data-container'=>'body', 'title'=>'View'}
-#                             %span.glyphicon.glyphicon-eye-open
-#                           %a.btn.btn-default.btn-md{href: start_docusign_id_path(f.id), 'data-toggle'=>'tooltip', 'data-placement'=>'top', 'data-container'=>'body', 'title'=>'Docusign'}
-#                             %span.glyphicon.glyphicon-check
-#           - else
-#             %h4{:style => "margin-top: 20px"}
-#               You have no documents pending signature at this time
-#
-#         #signed.tab-pane.fade
-#           - if (@signedFiles.size > 0)
-#             %table.table{:style => "margin-top: 10px"}
-#               %thead
-#                 %tr
-#                   %th File
-#                   %th Name
-#                   %th Actions
-#                 %tbody
-#                   / list file contents
-#                   - @signedFiles.each do |f|
-#                     %tr
-#                       %td
-#                         = link_to '#', :onclick => "$('#preview').attr('src','about:blank'); setTimeout(function() {$('#preview').attr('src','#{preview_url(f.id)}');}, 10); $('#viewModal').modal(open); " do
-#                           = image_tag(thumbnail_url(f.id), :height => "35px")
-#                       %td
-#                         %span{:style => "inline"}
-#                           = f.name
-#                       %td
-#                         / file action options
-#                         .btn-group
-#                           %a.btn.btn-default.btn-md{:onclick => "$('#preview').attr('src','about:blank'); setTimeout(function() {$('#preview').attr('src','#{preview_url(f.id)}');}, 10); $('#viewModal').modal(open); ",'data-toggle'=>'tooltip', 'data-placement'=>'top', 'data-container'=>'body', 'title'=>'View'}
-#                             %span.glyphicon.glyphicon-eye-open
-#           - else
-#             %h4{:style => "margin-top: 20px"}
-#               You have no signed documents at this time
-#
-#
-#     %p{:style=>"text-align: right; font-size: 10px;"}
-#       = link_to "reset", reset_uploadnsign_path

:javascript
  Dropzone.options.myDropzone = {
    init: function() {
      this.on("queuecomplete", function(file) {
        setTimeout(function() {location.reload();}, 1000);
      });
    }
  };

  $(document).ready(function(){
    $(".nav-tabs a").click(function(){
        $(this).tab('show');
    });
  });


:javascript
  $(function () {$('[data-toggle="tooltip"]').tooltip()})
