


.header{:style => "background-color: #{session[:navbar_color]}; border-color: #{session[:navbar_color]};"}
  = include_gon
  .container
    - if session[:logo].nil? or session[:logo] == ""
      %a.logo-text{href: "/dashboard", :style => "text-decoration: none;"}
        %span
          Platform
        %span(style="font-weight: 100; margin-left: -6px;")
          Standard
        .trademark
          &#8482;
    - else
      %a.logo-text{href: "/dashboard", :style => "text-decoration: none;"}
        %img{:src => session[:logo], :style => "max-height:75px; margin-top: -16px"}
    - if session[:userinfo]
      .name.hidden-xs
        %span
          = image_tag (session[:userinfo][:info][:image]), :width => '40px', :class => 'img-circle'
        %span
          = "#{session[:userinfo][:info][:name]}"


:javascript
      window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var n=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(n?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var o=document.getElementsByTagName("script")[0];o.parentNode.insertBefore(a,o);for(var r=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["clearEventProperties","identify","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=r(p[c])};
      heap.load("3218507421");
