:css

  /* Portrait phones and smaller */
  @media (max-width: 480px){
  .navbar-inverse .username img {
    display: none;
  }

  .navbar-inverse .username span {
    display: none;
  }
  }
  /* Landscape phones and portrait tablets */
  @media(max-width:767px){
    .navbar-inverse .username img {
      display: none;
    }

    .navbar-inverse .username span {
      display: none;
    }

  }
  /* Portrait tablets and small desktops */
  /*@media(min-width:768px) and (max-width: 991px){}
  /* Landscape tablets and medium desktops */
  /*@media(min-width:992px) and (max-width: 1199px){}*/
  /* Large desktops and laptops */
  /*@media(min-width:1200px){}*/



.header{:style => "background-color: #{session[:navbar_color]}; border-color: #{session[:navbar_color]};"}
  .container
    - if session[:logo].nil? or session[:logo] == ""
      %a.logo-text{href: "/dashboard", :style => "text-decoration: none;"}
        %span
          Platform
        %span(style="font-weight: 100; margin-left: -6px;")
          Standard
        .trademark
          &#8482;
    - else
      %a.logo-text{href: "/dashboard", :style => "text-decoration: none;"}
        %img{:src => session[:logo], :style => "max-height:75px; margin-top: -16px"}
    - if session[:userinfo]
      .name
        %span
          = image_tag (session[:userinfo][:info][:image]), :width => '40px', :class => 'img-circle'
        %span
          = "#{session[:userinfo][:info][:name]}"
