


.header{:style => "background-color: #{session[:navbar_color]}; border-color: #{session[:navbar_color]};"}
  .container
    - if session[:logo].nil? or session[:logo] == ""
      %a.logo-text{href: "/dashboard", :style => "text-decoration: none;"}
        %span
          Platform
        %span(style="font-weight: 100; margin-left: -6px;")
          Standard
        .trademark
          &#8482;
    - else
      %a.logo-text{href: "/dashboard", :style => "text-decoration: none;"}
        %img{:src => session[:logo], :style => "max-height:75px; margin-top: -16px"}
    - if session[:userinfo]
      .name
        %span
          = image_tag (session[:userinfo][:info][:image]), :width => '40px', :class => 'img-circle'
        %span
          = "#{session[:userinfo][:info][:name]}"
