.col-md-3.col-sm-3.pull-left
  / SIDEBAR USERPIC
  .profile{:style => "margin: 1px 0; background: #fff"}
    .profile-sidebar{:style => "padding: 20px 0 30px 0"}
      .profile-userpic
        %img.img-responsive{:alt => "", :src => "https://platform-standard.box.com/shared/static/a3a2uag0hkt4vuixearil86li2ghlrlb.png", :style => "float: none; margin: 0 auto; width: 70%; height: 70%; -webkit-border-radius: 70% !important; -moz-border-radius: 70% !important; border-radius: 70% !important" }

      / END SIDEBAR USERPIC
      / SIDEBAR USER TITLE
      .profile-usertitle{:style => "text-align: center; margin-top: 20px;"}
        .profile-usertitle-name{:style => "color: #5a7391; font-size: 16px; font-weight: 600; margin-bottom: 7px"}
          Marcus Doe
        .profile-usertitle-job{:style => " text-transform: uppercase; color: #5b9bd1; font-size: 12px; font-weight: 600; margin-bottom: 15px;"}
          Customer
      / END SIDEBAR USER TITLE

    / SIDEBAR MENU
    .profile-usermenu
      %ul.nav.nav-pills.nav-stacked.appnavbtns
        %li{:class => "#{'active' if session[:current_page] == "vault"}", :id => "sidewide"}
          %a{:href => "/dashboard"}
            %i.glyphicon.glyphicon-home
            My Vault
        %li{:class => "#{'active' if session[:current_page] == "search"}", :id => "sidewide"}
          %a{:href => "/resources"}
            %i.glyphicon.glyphicon-user
            Resources
        %li{:class => "#{'active' if session[:current_page] == "workflow"}", :id => "sidewide"}
          %a{:href => "/onboarding-tasks"}
            %i.glyphicon.glyphicon-ok
            Onboarding Tasks
            %span.badge
              = get_task_status

        %li{:class => "#{'active' if session[:current_page] == "catalog"}"}
          %a{:href => "/catalog"}
            %i.glyphicon.glyphicon-picture
            Product Catalog

        %li
          %a{:href => "#", :id => "sidewide"}
            %i.glyphicon.glyphicon-flag
            Help

  / END MENU
