
%ul#slide-out.side-nav.fixed
  .center{:style => session[:navbar_color].nil? ? "background-color: #fff; padding: 15px;" : "background-color: #{session[:navbar_color]}; padding: 15px;"}
    %img.brand-logo{:src => session[:logo].nil? ? "https://hostr.co/file/ymFedDL5NhlX/ScreenShot2015-12-21at1.18.09PM.png" : "#{session[:logo]}", :style => "max-width: 130px; min-width: 130px;", :style => session[:logo].nil? ? "max-width: 220px; min-width: 220px;" : "max-width: 110px; min-width: 110px;"}
  %ul.tabList.nav-wrapper

  %li{:class => "#{'active' if session[:current_page] == "vault"}"}
    %a{:href => "/dashboard", :style => "text-decoration: none;"} My Vault
  - if session[:resources] == 'on' or session[:resources].nil?
    %li{:class => "#{'active' if session[:current_page] == "search"}"}
      %a{:href => "/resources", :style => "text-decoration: none;"} Resources
  - if session[:onboarding] == 'on' or session[:onboarding].nil?
    %li{:class => "#{'active' if session[:current_page] == "workflow"}"}
      %a{:href => "/onboarding-tasks", :style => "text-decoration: none;"} Onboarding Tasks
  - if session[:catalog] == 'on' or session[:catalog].nil?
    %li{:class => "#{'active' if session[:current_page] == "catalog"}"}
      %a{:href => "/catalog", :style => "text-decoration: none;"} Product Catalog
  - if session[:medical_credentialing] == 'on'
    %li{:class => "#{'active' if session[:current_page] == "medical_credentialing"}"}
      %a{:href => "/medical-credentialing", :style => "text-decoration: none;"} Medical Credentialing
  - if session[:loan_docs] == 'on'
    %li{:class => "#{'active' if session[:current_page] == "loan_docs"}"}
      %a{:href => "/loan-documents", :style => "text-decoration: none;"} Loan Documents
  - if session[:upload_sign] == 'on'
    %li{:class => "#{'active' if session[:current_page] == "upload-sign"}"}
      %a{:href => "/upload-sign", :style => "text-decoration: none;"} Upload & Sign
  - if session[:create_claim] == 'on'
    %li{:class => "#{'active' if session[:current_page] == "create-claim"}"}
      %a{:href => "/create-claim", :style => "text-decoration: none;"} Create A Claim
  - if session[:dicom_viewer] == 'on'
    %li{:class => "#{'active' if session[:current_page] == "dicom_viewer"}"}
      %a{:href => "/dicom_viewer", :style => "text-decoration: none;"} DICOM Viewer
  %li
    %a{:href => "/config", :style => "text-decoration: none;"} Settings

  .footer-user
    .footer-copyright{:style => "margin-left: 15%; margin-top: -10%"}
      - if session[:userinfo]
        .name.hidden-xs{:style => "margin-left: -20px;" }
          %a.tooltipped{href: logout_path, :style => "text-decoration: none", 'data-position'=>"top", 'data-delay'=>"50", 'data-tooltip'=>"Logout"}
            .row
              .col.s2
                %span
                  = image_tag "new_user.png", :width => '28px', :class => 'circle', :style => "margin-left: -13px;"
              .col.s6
                %div{:style => "color: black; font-size: 12px; text-overflow: ellipsis; width: 10em; overflow: hidden; white-space: nowrap; margin-left: -10px; margin-top: 3px;"}
                  = "#{session[:userinfo][:info][:name]}"
              .col.s2
                %span{:class => 'title'}
                  %i.glyphicon.glyphicon-log-out{:style => "margin-left: 20px; margin-top: 4px;"}

%a.button-collapse#mobile-menu{"data-activates" => "slide-out", :href => "#"}
  %i.medium.material-icons
    reorder


:javascript
  // Initialize collapse button
  $(".button-collapse").sideNav();
